{% extends "hints.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block hint-body-html %}

{% canned_hint "달력1F 일정" %}
    {% hint_title %}
        <span class="flavor">일정</span>
    {% end_hint_title %}
    {% hint_content %}
        달력에서 일정을 표기할 때는 시작 칸에서 오른쪽으로 칸을 채웁니다. 만약 한 줄이 다 끝났다면 다음 줄로 이동합니다. 날짜는 크게 상관없는 것 같습니다. 그나저나 9월에 일정을 꽉 채우려면 며칠이나 필요할까요?
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "달력2F 공통점" %}
    {% hint_title %}
        <span class="flavor">공통점</span>
    {% end_hint_title %}
    {% hint_content %}
        <strong>메타퍼즐</strong>인 만큼 이때까지의 정답에서 공통점을 찾는 것이 중요합니다. 달력의 구성요소와 연관 지어 생각해 봅시다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "달력3F 특별했던 날들" %}
    {% hint_title %}
        <span class="flavor">특별했던 날들</span>
    {% end_hint_title %}
    {% hint_content %}
        23일부터 1일까지 다섯 날짜에 각각 무엇을 했는지 살펴봐야 합니다. ‘...’는 침묵이라고 생각하고 앞뒤를 이어보면, 다음에 무엇을 해야 할지 알 수 있을겁니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "달력4 요일" %}
    {% hint_title %}
        공통점은 찾았는데 일정을 못 채우겠어요
    {% end_hint_title %}
    {% hint_content %}
        해당 공통점을 달력에 고정시키면 됩니다. 일정들을 퍼즐조각처럼 맞춰나가면 되는 일종의 직소퍼즐입니다. 가장 긴 일정은 두 번째에 들어갑니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "달력5 세로" %}
    {% hint_title %}
        특별했던 날들은 찾았는데 다음 단계는요?
    {% end_hint_title %}
    {% hint_content %}
        달력 자체에 대한 지시문이므로, 일정들이 아닌 <b>9월 달력에 적용</b>해야 합니다. 방법이 두 가지가 나오지만, 일정을 채울 수 있는 방법은 오직 하나입니다. 일정 채우기를 모르겠다면 ‘일정’ 힌트가 도움이 될 수 있습니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "달력6 중요한 일정" %}
    {% hint_title %}
        중요한 일정
    {% end_hint_title %}
    {% hint_content %}
        가장 마지막에 풀어내는 요소입니다. 22일, 23일… 이런 식으로 적당한 길이의 일정을 발견해야 합니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% endblock %}