{% extends "hints.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block hint-body-html %}

{% canned_hint "암호1F 해석" %}
    {% hint_title %}
        <span class="flavor">해석</span>
    {% end_hint_title %}
    {% hint_content %}
        첫 번째 문장을 해석하면 암호 해독에 대한 키워드가 나옵니다.
        키워드를 파악하지 못했다면, 원래 문장을 해석하면서 무엇이 달라졌는지 확인해보는 것이 좋습니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "암호2F 비틀어서" %}
    {% hint_title %}
        <span class="flavor">비틀어서</span>
    {% end_hint_title %}
    {% hint_content %}
        각 단어들은 <strong>자음과 모음</strong>들이 비틀려진 것 같습니다. 원래대로 되돌려 봅시다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "암호3 첫 문장" %}
    {% hint_title %}
        첫 문장
    {% end_hint_title %}
    {% hint_content %}
        첫 문장은 나머지 문장들보다 비교적 쉽게 적혀 있습니다.
        아직 해석하지 못했다면 쓰여 있는 대로 <strong>소리 내어</strong> 읽어 봅시다.
        원래 문장을 최대한 생각해 보면 도움이 될 수 있습니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "암호4 엄밀한 규칙" %}
    {% hint_title %}
        엄밀한 규칙
    {% end_hint_title %}
    {% hint_content %}
        해독에 있어서 엄밀한 규칙은, <strong>키보드</strong>로 직접 해독해 보면 눈치채기 쉽습니다.
        퍼즐 풀이에 필수적이지는 않으니 감만 잡으셔도 좋습니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "암호5 마지막 문장" %}
    {% hint_title %}
        마지막 문장
    {% end_hint_title %}
    {% hint_content %}
        마지막 문장은 해석된 대로 진행하면 됩니다. 찾아낸 네 개의 단어를 사용하여 올바르게 나열하면 답이 나옵니다.
    {% end_hint_content %}
{% end_canned_hint %}


{% endblock %}