{% extends "hints.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block hint-body-html %}

{% canned_hint "장난1F 크립틱" %}
    {% hint_title %}
        <span class="flavor">Cryptic</span>
    {% end_hint_title %}
    {% hint_content %}
        이 퍼즐은 크로스워드는 아니지만, Cryptic Crossword의 clue를 사용합니다.
        자세한 설명은 <a href="https://en.wikipedia.org/wiki/Cryptic_crossword#How_cryptic_clues_work" target="_blank"><u>Cryptic 위키백과</u></a>를 참고하면 좋을 것 같습니다.
        적극적인 검색을 통해 어떤 식으로 단서를 해석할 수 있을지 궁리해보세요.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "장난2 음양" %}
    {% hint_title %}
        음양
    {% end_hint_title %}
    {% hint_content %}
        음성모음과 양성모음입니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "장난3 어디서 보든" %}
    {% hint_title %}
        어디서 보든
    {% end_hint_title %}
    {% hint_content %}
        풀어쓰기를 하여 회문을 만듧니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "장난4 사용해서" %}
    {% hint_title %}
        사용해서
    {% end_hint_title %}
    {% hint_content %}
        ‘~<strong>만 사용해서</strong>’라는 문구가 중요합니다. 
        이는 <a href="https://en.wikipedia.org/wiki/Cryptic_crossword#Letter_banks" target="_blank"><u>Letter banks</u></a>의 indicator(지시자)로 사용됩니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "장난5 세로드립" %}
    {% hint_title %}
        답은 다 찾았는데 그 다음은?
    {% end_hint_title %}
    {% hint_content %}
        찾은 답들을 순서대로 아래로 나열하며 써보세요. 세로로 읽히는 무언가가 있을 것입니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% endblock %}