{% extends "hints.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block hint-body-html %}

{% canned_hint "복제1F 여러 개" %}
    {% hint_title %}
        <span class="flavor">여러 개</span>
    {% end_hint_title %}
    {% hint_content %}
        아마 <strong>2개</strong>씩 보이는 것 같습니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "복제2 /" %}
    {% hint_title %}
        /
    {% end_hint_title %}
    {% hint_content %}
        /의 왼쪽은 <strong>하나</strong>만, /의 오른쪽은 <strong>여러 개</strong>를 고려합니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "복제3 답" %}
    {% hint_title %}
        구해내야
    {% end_hint_title %}
    {% hint_content %}
        일반적으로 퍼즐을 풀기 위해 얻어야 하는 것입니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "복제4 공" %}
    {% hint_title %}
        아무것도 없는
    {% end_hint_title %}
    {% hint_content %}
        한자로 생각해 보는 것이 도움이 됩니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "복제5 억" %}
    {% hint_title %}
        89%
    {% end_hint_title %}
    {% hint_content %}
        억을 다르게 표현했을 때 9개 중 8개에 해당합니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% endblock %}