{% extends "hints.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block hint-body-html %}

{% canned_hint "초안1F 조리있게" %}
    {% hint_title %}
        <span class="flavor">조리 있게</span>
    {% end_hint_title %}
    {% hint_content %}
        전달하고자 하는 내용을 조리 있게 설명하려면 <b>몇 가지 원칙</b>이 필요합니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "초안2F 순서" %}
    {% hint_title %}
        <span class="flavor">순서</span>
    {% end_hint_title %}
    {% hint_content %}
        다양한 방식으로 순서를 찾아내야 합니다. 문제에 주어진 단어나, 얻어내야 하는 괄호 안 글자를 활용하여 순서를 맞춰볼 수 있습니다. 잘 모르겠다면 <b>대사</b>가 큰 도움이 될 수도 있습니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "초안3F 대사" %}
    {% hint_title %}
        <span class="flavor">대사</span>
    {% end_hint_title %}
    {% hint_content %}
        기억을 돌이켜보면 등장인물들이 혼잣말처럼 중얼거린 <b>대사</b>가 분명 있었습니다. 놓치셨다면 앞으로는 꼭 주목하시길 바랍니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "초안4 정리한 다음" %}
    {% hint_title %}
        정리한 다음
    {% end_hint_title %}
    {% hint_content %}
        괄호 속 지시를 따르면 됩니다. 다만, 앞부분을 잘 보고 찾아내야 합니다. 그럼에도 모르겠다면 <b>대사</b>가 큰 도움이 될 수도 있습니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "초안5 마지막" %}
    {% hint_title %}
        마지막
    {% end_hint_title %}
    {% hint_content %}
        순서에 맞게 글자를 나열하고, 분류했던 것을 말이 되도록 이어 붙이면 됩니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% endblock %}