{% extends "hints.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block hint-body-html %}

{% canned_hint "미로1F 투명" %}
    {% hint_title %}
        <span class="flavor">투명</span>
    {% end_hint_title %}
    {% hint_content %}
        미로의 벽이 보이지 않고 투명하기 때문에, 주어진 단서들을 통해서 미로의 형태를 찾아내야 합니다. 네모난 칸의 개수가 숫자로 나와있는 것 같습니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "미로2F 윤곽" %}
    {% hint_title %}
        <span class="flavor">윤곽</span>
    {% end_hint_title %}
    {% hint_content %}
        미로의 전체적인 윤곽은 <strong>정사각형에 가깝지만 살짝 위아래로 길쭉</strong>해 보입니다. 우리가 움직일 수 있는 공간은 거의 60%정도 같습니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "미로3 번호" %}
    {% hint_title %}
        번호
    {% end_hint_title %}
    {% hint_content %}
        각 단서의 번호는 첫번째 칸에 나타납니다. 따라서 같은 번호의 가로 단서와 세로 단서는 동일한 칸을 첫번째 칸으로 공유합니다.
        번호는 가로 단서와 세로 단서를 모두 합친 다음에, <strong>왼쪽에서 오른쪽으로 위에서 아래로</strong> 번호를 매깁니다. (한국의 방식과는 약간 차이가 있습니다. 서양에서 만든 미로인가 봅니다.)
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "미로4 시작과 끝" %}
    {% hint_title %}
        시작과 끝
    {% end_hint_title %}
    {% hint_content %}
        이 퍼즐에서의 시작과 끝은, <strong>미로에서 탈출</strong>하기 위한 시작과 끝입니다. 유의어를 찾아보면 좋습니다. 또한 이 칸들은 엄밀히 말하면 ‘지나간’ 칸은 아닙니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "미로5 세로1번" %}
    {% hint_title %}
        세로1번
    {% end_hint_title %}
    {% hint_content %}
        (5 4)는 ‘5글자+4글자’가 띄어쓰기로 이어져 있음을 의미합니다. 직접 단서를 해결하며 답을 찾아내야 합니다. 5번, 13번, 20번의 답과 이어져 있는 것 같습니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% endblock %}