{% extends "hints.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block hint-body-html %}

{% canned_hint "삼체1F 정리" %}
    {% hint_title %}
        <span class="flavor">정리</span>
    {% end_hint_title %}
    {% hint_content %}
        정리하는 <strong>특별한 규칙</strong>이 존재합니다. 남는 단어들을 조합하여 알 수 있습니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "삼체2F 숫자" %}
    {% hint_title %}
        <span class="flavor">숫자</span>
    {% end_hint_title %}
    {% hint_content %}
        숫자는 완벽하게 정리를 하고 난 이후에, 글자를 <strong>꺼내는</strong> 용도로 사용됩니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "삼체3 정리 준비" %}
    {% hint_title %}
        정리 준비
    {% end_hint_title %}
    {% hint_content %}
        단어들을 살펴보면 함께 떠오르거나 공통점이 있는 단어가 있습니다. 이 <strong>단어 묶음</strong>을 최대한 찾아보세요.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "삼체4 완벽한 정리" %}
    {% hint_title %}
        완벽한 정리
    {% end_hint_title %}
    {% hint_content %}
        정리하는 규칙을 자세히 보면, 그 규칙의 단어들도 규칙에 맞게 정리되어 있습니다. 즉, 묶음 내에서 정리를 한 이후에 묶음끼리 정리해야 합니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% endblock %}