{% extends "hints.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block hint-body-html %}

{% canned_hint "가치1F 뒤에 따라붙을" %}
    {% hint_title %}
        <span class="flavor">뒤에 따라붙을</span>
    {% end_hint_title %}
    {% hint_content %}
        10개의 문제들의 정답이 뒤에 따라붙을 말이 됩니다. 즉, 정답을 바탕으로 앞에 붙는 것을 유추해 내어야 합니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "가치2F 글자" %}
    {% hint_title %}
        <span class="flavor">글자</span>
    {% end_hint_title %}
    {% hint_content %}
        가치는 숫자로써 표현됩니다. 이러한 숫자 속에서 글자를 얻기 위해서는 특별한 규칙이 필요합니다. 숫자에서 글자를 얻는 방법을 이미 알고 있을 확률이 높습니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "가치3F 불완전" %}
    {% hint_title %}
        <span class="flavor">불완전</span>
    {% end_hint_title %}
    {% hint_content %}
        10개의 문제를 모두 풀고 나타난 글자를 보았다면, 어색함을 느낄 수 있습니다. 가장 마지막에 남아있는 숫자 하나가 어색한 부분에 들어가면 최종 정답을 얻을 수 있습니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "가치4 가치" %}
    {% hint_title %}
        가치
    {% end_hint_title %}
    {% hint_content %}
        이 문제에서는 가치를 <strong>글자 점수 계산법</strong>에 의거하여 판단합니다. 하나의 음절(글자)를 숫자로 바꿀 수 있습니다. 처음부터 가치를 계산하기 보다는, 필요한 때에 적절히 계산하는 것이 중요합니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "가치5 소문제" %}
    {% hint_title %}
        10개의 문제 접근법
    {% end_hint_title %}
    {% hint_content %}
        쉬워보이는 문제를 몇가지 풀어보세요. 어디선가 본 문제 유형이 <strong>두가지가 섞여</strong>있습니다. 이를 바탕으로 어려운 문제의 유형을 추측해 볼 수 있습니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "가치6 중간 정답" %}
    {% hint_title %}
        중간 정답
    {% end_hint_title %}
    {% hint_content %}
        10개의 문제에 대한 정답들은, 이 다음으로 찾아내야 할 단어들과 모두 <strong>명확히 대응</strong>됩니다. 이를 이용하면 못 찾은 정답을 더 수월하게 찾을 수도 있습니다. 10개의 정답들은 한글자짜리 4개와, 두글자짜리 6개로 이뤄져 있습니다.
    {% end_hint_content %}
{% end_canned_hint %}

{% canned_hint "가치7 가치 계산" %}
    {% hint_title %}
        의미있는 단어들을 구해냈지만 그 다음이 막혀요.
    {% end_hint_title %}
    {% hint_content %}
        이제서야 그들의 <strong>가치</strong>를 판단하면 됩니다. 본격적으로 점수를 매겨보세요.
    {% end_hint_content %}
{% end_canned_hint %}

{% endblock %}