{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block content %}

<h1>{% translate "About" %}</h1>

<main>
    <div class="no-break">
        <h4 id="Format">{% translate "What are the rules?" %}</h4>
        <ul>
            {% format_time start_time "WEEKDATE_AT_TIME" as hunt_start %}
            {% format_time end_time "WEEKDATE_AT_TIME" as hunt_end %}
            <li>{% blocktranslate %}The puzzlehunt starts on <strong>{{ hunt_start }}</strong> and ends on <strong>{{ hunt_end }}</strong>, at which point puzzle solutions will be available. {% endblocktranslate %}
            {% comment %}
            {% format_time close_time "WEEKDATE_AT_TIME" as hunt_close %}
            {% blocktranslate %}However, we will leave the website running until <strong>{{ hunt_close }}</strong> so teams can still submit answers and go through the hunt at their own pace.{% endblocktranslate %}
            {% endcomment %}
            </li>
            <li>팀을 등록한 이후, <a href="{% url 'index' %}">메인화면 페이지</a>에 <b>시작하기</b> 버튼을 누르면 퍼즐헌트가 시작됩니다. 이 버튼을 누름과 동시에 팀의 통계가 기록되기 시작합니다.</li>
            <li>{% blocktranslate with max_members=max_members_per_team contact=contact_email %}Teams have a maximum size of {{ max_members }}.{% endblocktranslate %}</li>
            <li>{% blocktranslate %}We reserve the right to disqualify any team for unsportsmanlike conduct.{% endblocktranslate %}</li>
            <li>{% blocktranslate with contact=contact_email %}If you have any questions about the hunt, or if you want to contact us for any reason, email <a href="mailto:{{ contact }}">{{ contact }}</a>. We will get back to you as soon as we can.{% endblocktranslate %}</li>
        </ul>
    </div>
    <div class="no-break">
        <h4>{% translate "What is a puzzlehunt?" %}</h4>
        <p>
            퍼즐헌트는 방탈출과는 조금 다르며, 미궁 게임과 비슷합니다.
            퍼즐 속에서 패턴이나 규칙을 추론하고, 이를 바탕으로 하나의 답을 추론해 내어야 합니다.
            퍼즐은 다양한 형태로 제공될 수 있으며, 직접적으로 정답을 나타내지 않고 숨겨져 있습니다.
            따라서 주어진 정보들 속에서 특별한 <b>발상</b>을 찾아내어 활용해야 답을 알아낼 수 있습니다.
            <br>
        </p>
        <p>
            "텍스트 퍼즐헌트"는 같은 한국어 퍼즐헌트인 "<a target="_blank" href="https://mrrheehunt.net/">미스터리 퍼즐헌트</a>"에서 큰 영감을 받았습니다.
            자세한 설명도 이 사이트에서 소개되어 있는데, 퍼즐헌트에 대해서는 <a target="_blank" href="https://mrrheehunt.net/what-is-puzzlehunt/">퍼즐헌트 소개 페이지</a>를,
            퍼즐 풀이에 대해서는 <a target="_blank" href="https://mrrheehunt.net/how-to-play/">퍼즐 푸는 방법 페이지</a>를 참고하세요.
            아주 친절하게 설명되어 있습니다.
        </p>
    </div>
    <div class="no-break">
        <h4 id="Format">{% translate "What is and isn’t allowed?" %}</h4>
        <ul>
            <li>
                AI, 특히 생성형 인공지능 혹은 LLM 등을 활용하여 퍼즐의 중요한 부분을 풀도록 요청하는 것은 금지합니다. 다만, 익숙하지 않은 주제 및 키워드나 전혀 모르겠는 특정한 단서에 해석 등에 있어 도움을 받는 것은 괜찮습니다. 인공지능을 "퍼즐헌트를 즐겁게 <b>즐기기 위한 도구</b>"로서 사용하기를 권장해 드립니다.
            </li>
            <li>
                웹사이트와 의도되지 않은 방식으로 상호작용 하는 것은 금지되어 있습니다. (소스코드를 보거나, 서버와의 자동화된 상호작용, 해킹 등)
            </li>
            <li>
                적극적으로 퍼즐헌트를 진행하고 있는 팀이라면, 다른 팀 혹은 팀원에게 <b>도움을 받거나 외부 자료를 사용하는 것을 금지</b>합니다. 의도한 퍼즐헌트 풀이 경험이 훼손될 수 있습니다. 퍼즐헌트를 시작하고 일주일 정도는 자신의 힘으로 풀어보는 것이 어떨까요?
            </li>
            <li>
                공개된 공간, 특히 인터넷상에서 "텍스트 퍼즐헌트"에 대해 이야기한다면, <b>‼️스포일러‼️</b> 표시를 꼭 달아주시기를 부탁드립니다.
            </li>
            <li>
                "텍스트 퍼즐헌트"의 풀이 과정을 글 또는 영상으로 남기거나 생방송(스트리밍)을 하는 등 불특정 다수와 공유하게 되는 경우, 위 스포일러 표시와 함께 아래 조건도 지켜주십시오. 풀이의 공유는 퍼즐헌트 시작 후 1개월 이후인, 2025년 <b>12월 21일부터 가능</b>합니다.
            </li>
            <li>
                여러 계정을 만들거나 여러 팀에 있을 수 없습니다.
            </li>
        </ul>
    </div>
    <div class="no-break">
        <h4 id="Format">{% translate "What is the format of this hunt?" %}</h4>
        <p>
            "텍스트 퍼즐헌트"는 <b>10문제 정도</b>의 짧은 퍼즐헌트입니다.
            시작하면 몇 개의 퍼즐이 주어지며, 남은 잠겨있는 퍼즐들은 풀어낸 퍼즐이 특정 개수가 되면 점차 해금됩니다.
            최종 퍼즐을 풀어내면 퍼즐헌트를 <b>완주</b>(클리어)할 수 있습니다.
        </p>
        <p>
            <b>메타퍼즐</b>은 그전까지 풀었던 퍼즐의 정답을 활용해서 풀어낼 수 있습니다.
            모든 퍼즐을 풀고 정답을 알고 있다면 매우 좋지만, 그렇다고 모든 정답이 꼭 필요한 것은 아닙니다.
            몇 개의 답이 부족해도 메타퍼즐을 풀어낼 가능성이 있으며, 반대로 못 풀었던 문제의 힌트가 되어 답을 역추적하는 백솔브(backsolve)도 가능합니다.
        </p>
        <p>
            퍼즐의 <b>정답은 한글 문자열</b>입니다. 한국어 단어 또는 문구가 답이 될 수 있습니다.
            띄어쓰기는 자동으로 고쳐지며, 한글이 아닌 다른 문자는 제거된 채로 정답을 확인합니다.
        </p>
        <p>
            퍼즐마다 <b>총 20번의 "답안 제출"</b>을 할 수 있습니다.
            합법적으로 정답을 추측했지만 그럼에도 부족한 경우에는 언제든지 문의해 주세요.
            하지만 정답일 것 같은 단어를 무작위로 입력하거나, 세글자 단어를 무차별 대입(brute-forcing)한 것으로 확인되면 더 이상 기회를 제공하지 않습니다.
        </p>
    </div>
    <div class="no-break">
        <h4 id="Hints">{% translate "How will hints work?" %}</h4>
        <p>
            팀이 퍼즐헌트를 <b>시작</b>한 지 24시간이 지났을 때부터 6시간마다 팀에게 ✏️<b>연필</b>이 하나씩 주어집니다.
            이때부터 각 퍼즐 상단에 "힌트 받기" 버튼이 생깁니다.
            최대 ✏️<b>연필 50개</b>까지 받을 수 있습니다.
        </p>
        <p>
            이번 퍼즐헌트에는 두 가지 힌트 시스템이 존재합니다.
            고정된 힌트를 ✏️<b>연필 1개</b>를 소모하여 확인할 수 있습니다.
            키워드에 따른 힌트를 얻을 수 있지만, 해당 키워드가 현재 필요한 단계의 힌트인지는 직접 판단해야 합니다.
            고정된 힌트는 퍼즐헌트가 끝나기 전까지 언제든지 사용할 수 있습니다.
        </p>
        <p>
            다른 하나는 개별화된 힌트를 ✏️<b>연필 2개</b>를 소모하여 요청할 수 있습니다.
            퍼즐에 관한 질문을 하면(예. 이렇게 인덱싱하는 게 맞나요?) 그 답변을, 진행 상황을 설명하면 다음 단계에 대한 적절한 넛지(예. 찾아낸 단어를 한자로 생각해 보세요.)를 제공할 수 있습니다.
        </p>
        <ui>
            개별화된 힌트에 있어서 주의 사항은 다음과 같습니다.
            <li style="margin-bottom: 0;">
                {% format_time hint_end_time "WEEKDATE_AT_TIME" as hint_end %}
                힌트 요청은 {{ hint_end }}까지만 신청할 수 있습니다. 퍼즐헌트 시작 후 <b>약 2주</b>가 지난 이후에는 "고정된 힌트"만 사용할 수 있습니다.
            </li>
            <li style="margin-bottom: 0;">
                어떤 문제에 힌트를 요청했다면, 그 답변이 도착하기 전까지는 다른 문제에 힌트를 요청할 수 없습니다.
            </li>
            <li style="margin-bottom: 0;">
                운영진이 직접 답변하여 시간이 걸릴 수 있으니, 유의 바랍니다. 
            </li>
        </ui>
    </div>
</main>

{% endblock %}
