{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}
{% load static %}

{% block page-title %}
<title>{% blocktranslate with puzzle=hint.puzzle team=hint.team %}Hint: {{ puzzle }} from {{ team }}{% endblocktranslate %}</title>
{% endblock %}

{% block content %}

<h1>{% translate "Answer a hint" %}</h1>

<div class="hint-controls">
    <a class="btn" href="javascript:askName(true)">
        {% translate "Your name is" %} <b id="claimer">{% translate "anonymous" %}</b>.
    </a>
    <script src="{% static "js/hint.js" %}"></script>
    <span>
        <a href="{% url 'impersonate-start' hint.team.user_id %}" class="btn danger">{% translate "Impersonate" %}</a>
        <a href="/admin/puzzles/hint/{{ hint.id }}/change/" class="btn">{% translate "View in admin" %}</a>
    </span>
</div>

<table class="hint-table">
    {% if hint.is_followup %}
    <div class="note">
        {% blocktranslate %}추가 질문에 답변하고 있습니다: <br>팀이 마지막 힌트가 도움이 되지 않았다고 표시하여 설명을 요청했습니다.
        문맥 파악을 위해 이전 힌트들이 여기에 포함되어 있습니다.<br>가장 아래에 있는 추가 질문 요청은 어떤 상태로 지정하든 힌트를 소모하지 않습니다.
        이전 답변에서 혼란스러웠거나 잘못된 부분을 명확히 설명해야 하지만, 대신 과도하게 설명이 필요한 경우 실제 힌트를 사용하도록 팀에 요청할 수도 있습니다.
        <br>이 힌트를 '환불됨'으로 설정하면 추가 질문에 대한 추가 질문을 막을 수 있습니다.{% endblocktranslate %}
    </div>
    {% endif %}
    {% for hint in previous_same_team %}
    <tbody style="background-color: #{{ hint.hint_question|hash|slice:':6' }}20">
        <tr>
            <td>
                {% if hint.is_followup %}<em>({% translate "followup" %}){% endif %}
                {% format_time hint.submitted_datetime 'DATE_AT_TIME' %}
                {% if hint.is_followup %}</em>{% endif %}
            </td>
            <td colspan="3">
                {% if hint.answered_datetime %}
                {% format_time_since hint.answered_datetime now as answered_since %}
                {% blocktranslate with status=hint.get_status_display claimer=hint.claimer %}{{ status }} {{ answered_since }} ago by {{ claimer }}{% endblocktranslate %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <pre class="submitted-text">{{ hint.hint_question }}</pre>
                <hr>
                <pre class="submitted-text">{{ hint.response }}</pre>
            </td>
        </tr>
    </tbody>
    {% endfor %}
    <tbody style="background-color: #{{ hint.hint_question|hash|slice:':6' }}20">
        <tr>
            <th>
                {% if hint.is_followup %}<em>({% translate "followup" %}){% endif %}
                {% format_time hint.submitted_datetime 'DATE_AT_TIME' %}
                {% if hint.is_followup %}</em>{% endif %}
            </th>
            <th>
                <a href="{% url 'team' hint.team.team_name %}">
                    {{ hint.team }}
                </a>
            </th>
            <th>
                <a href="{% url 'solution' hint.puzzle.slug %}">
                    {{ hint.puzzle }}
                </a>
            </th>
            <th>
                <a href="/admin/puzzles/answersubmission/?team__id__exact={{ hint.team_id }}&puzzle__id__exact={{ hint.puzzle_id }}">
                    ({% translate "guesses" %})
                </a>
            </th>
        </tr>
        <tr>
            <td>
                {% if hint.answered_datetime %}
                {% format_time_since hint.answered_datetime now as answered_since %}
                {% blocktranslate with status=hint.get_status_display claimer=hint.claimer %}{{ status }} {{ answered_since }} ago by {{ claimer }}{% endblocktranslate %}
                {% elif hint.claimed_datetime %}
                <span style="color: red">
                {% format_time_since hint.claimed_datetime now as claimed_since %}
                {% blocktranslate with claimer=hint.claimer %}Claimed {{ claimed_since }} ago by {{ claimer }}{% endblocktranslate %}
                </span>
                {% elif hint.claimer %}
                <span style="color: red">
                {% blocktranslate with claimer=hint.claimer %}Claimed at unknown time (!?) by {{ claimer }}{% endblocktranslate %}
                </span>
                {% else %}
                <a href="{% url 'hint' hint.id %}?claim=true" class="btn">{% translate "Claim this hint" %}</a>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'hint-list' %}?team={{ hint.team_id }}">
                    ({% translate "all from same team" %})
                </a>
            </td>
            <td>
                <a href="{% url 'hint-list' %}?puzzle={{ hint.puzzle_id }}">
                    ({% translate "all from same puzzle" %})
                </a>
            </td>
            <td>
                <a href="{% url 'hint-list' %}?team={{ hint.team_id }}&puzzle={{ hint.puzzle_id }}">
                    ({% translate "both" %})
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <pre class="submitted-text">{{ hint.hint_question }}</pre>
            </td>
        </tr>
    </tbody>
</table>
{% if previous_canned_hint %}
    <ul>
        팀에서 이미 확인한 고정된 힌트:<br>
        {% for canned_hint in previous_canned_hint %}
            {% format_time canned_hint.opened_datetime 'DATE_AT_TIME' %} : {{ canned_hint.hint_id }}<br>
        {% endfor %}
    </ul>
{% endif %}
{{ form.non_field_errors }}
<form method="post" class="hint-controls">
    {% csrf_token %}
    {% for field in form %}
    {{ field.label_tag }}
    {{ field }}
    {{ field.errors }}
    {% endfor %}
    <input type="hidden" name="initial_status" value="{{ hint.status }}">
    <br>
    {% if hint.status == 'NR' %}
    <button class="btn danger" name="action" type="submit" value="unclaim" formnovalidate>{% translate "Unclaim" %}</button>
    {% else %}
    <a class="btn" href="{% url 'hint-list' %}">{% translate "Back to list" %}</a>
    {% endif %}
    <button class="btn" name="action" type="submit">{% translate "Submit" %}</button>
</form>

<table class="hint-table">
    {% for hint in previous_all_teams %}
    <tbody style="background-color: #{{ hint.hint_question|hash|slice:':6' }}20">
        <tr>
            <td>
                <a href="{% url 'hint' hint.id %}">
                    {% if hint.answered_datetime %}
                    {% format_time_since hint.answered_datetime now as answered_since %}
                    {% blocktranslate with status=hint.get_status_display claimer=hint.claimer %}{{ status }} {{ answered_since }} ago by {{ claimer }}{% endblocktranslate %}
                    {% endif %}
                </a>
            </td>
            <td>
                <a href="{% url 'hint-list' %}?team={{ hint.team_id }}">
                    {{ hint.team }}
                </a>
            </td>
            <td>
                <a href="javascript:copyHint('h{{ hint.id }}')">
                    {% translate "Copy response" %}
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <pre class="submitted-text" id="h{{ hint.id }}">{{ hint.response }}</pre>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}
