{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block page-title %}
<title>{% blocktranslate with puzzle_name=puzzle.name %}Hints: {{ puzzle_name }}{% endblocktranslate %}</title>
{% endblock %}

{% block top-left-actions %}
<a href="{% url 'puzzle' puzzle.slug %}" class="btn">{% translate "Back to the puzzle" %}</a>
{% endblock %}

{% block content %}
<style>
.hint-error { margin-bottom: 4rem; }
.hint-hidden { display: none; }
.hint-table tr { border-bottom: 1px solid black; }
.hint-table td {
    white-space: nowrap;
    vertical-align: top;
}
.hint-table td:last-child {
    width: 0;
}
.hint-table b {
    margin-right: 1ch;
}
.hint-table pre {
    margin: 0 5rem 2rem 0;
    white-space: pre-wrap;
    display: inline-block;
    vertical-align: text-top;
}
.hint-info {
    opacity: 0.8;
    white-space: initial;
}
</style>

<h1>{% blocktranslate with puzzle_name=puzzle.name %}Hints: {{ puzzle_name }}{% endblocktranslate %}</h1>

<main>
    <h4>힌트 설명</h4>
    {% if puzzle_answer is not None %}
    <div class="note">
        이미 이 퍼즐을 해결했지만, 원한다면 힌트를 보거나 요청할 수 있습니다. (예: 특정 단계를 확신할 수 없거나 백솔브로 풀었을 경우) 아래의 제한 사항은 여전히 적용됩니다.
    </div>
    {% endif %}

    <ul>
        {% if not hunt_is_over %}
        <li>현재 ✏️<b>연필 {{ team.num_hints_remaining }}개</b>가 있습니다.</li>
        {% endif %}
        <li>고정된 힌트를 보는 데에는 ✏️<b>연필 1개</b>, 힌트를 요청하는 데에는 ✏️<b>연필 2개</b>가 사용됩니다.</li>
        <li>자세한 내용은 <a href="{% url 'about' %}#Hints">소개 페이지</a>를 참고하세요.</li>
    </ul>

    <!-- 개별화된 힌트 -->
    <h4>고정된 힌트 보기</h4>
    <ul>
        <li>미리 정해져있는 힌트를 볼 수 있습니다. ✏️<b>연필 1개</b>가 소모됩니다.</li>
    <!--
    Django 템플릿 조건문을 사용하여 버튼과 힌트 목록의 표시 여부를 제어합니다.
    URL에 'show_canned_hints' 파라미터가 없을 때만 '힌트 목록 열기' 버튼을 보여줍니다.
    이 버튼은 페이지를 새로고침하는 링크 역할을 합니다.
    -->
    {% if not request.GET.show_canned_hints %}
        <a href="?show_canned_hints=true" class="btn">힌트 목록 열기</a>
    {% endif %}
    {% if request.GET.show_canned_hints %}
        <div>
            {% puzzleblock hint-body %}
            {% if hint_body %}{{ hint_body|safe }}{% elif template_name %}
            이 힌트가 아직 존재하지 않는 것 같습니다.
            <code>{{ template_name }}</code> 이름의 힌트 템플릿을 찾았습니다.  
            {% else %}
            이 힌트 템플릿은 존재하지만, 힌트 콘텐츠 블록을 정의하지 않은 것 같습니다. 후반 작업 가이드를 확인해보시겠어요?
            {% endif %}
        </div>
    {% endif %}
    </ul>

    <h4>{% translate "Request a hint" %}</h4>
    <ul style="margin-bottom: 1rem;"><li>팀의 진행상황에 따라 적절한 힌트를 요청할 수 있습니다. ✏️<b>연필 2개</b>가 소모됩니다.</li></ul>
    {% if error %}
    <p class="hint-error">{{ error|safe }}</p>
    {% endif %}

    {% if not error or can_followup %}
    <form method="post"{% if error %} class="hint-hidden"{% endif %}>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
        {% endfor %}

        {% if can_followup %}
        <input type="hidden" name="is_followup" value="">
        <div class="note hint-hidden">
            받은 힌트에 대해 추가 질문을 요청하고 있습니다. 일단은 ✏️연필을 소모하지 않습니다. 작성한 내용을 보고 더 도움이 될 수 있는지 확인하겠지만, 대신 경우에 따라 ✏️연필의 차감을 요구할 수도 있습니다.
        </div>
        <script>
        function markFollowup() {
            $('.hint-hidden').removeClass('hint-hidden');
            $('.hint-error').addClass('hint-hidden');
            $('[name=is_followup]').val(true);
            $('[name=hint_question]').focus();
            $('h4')[0].scrollIntoView();
            $('#hint-cost').text(0);
            $('#hint-type').text('추가 질문');
        }
        $(function() {
            $('.hint-response').each(function(i, pre) {
                pre.innerHTML = pre.innerHTML.replace(
                    /(ask|ask for|request) (a|another) follow-?up( hint)?/ig,
                    '<button class="btn" onclick="markFollowup()">$&</button>');
            });
        });
        </script>
        {% endif %}
        <br>
        <button class="btn" type="submit">
            <span id='hint-type'>힌트 요청</span> (&minus;<span id="hint-cost">2</span>✏️)
        </button>
    </form>
    {% endif %}

    {% if hints %}
    <h4>{% translate "Previously requested hints" %}</h4>
    {% if can_followup %}
    <button class="btn" onclick="markFollowup()" style="height: 42px;">추가로 질문하기</button>
    {% endif %}
    <table class="hint-table">
        {% for hint in hints %}
        <tr class="submitted-text">
            <td>
                {% translate "Q:  " %}<pre>{{ hint.hint_question }}</pre><br>
                {% if hint.status == 'NR' %}
                {% translate "A:  " %}<pre class="hint-info">{% translate "No response yet." %}</pre>
                {% elif hint.response %}
                {% translate "A:  " %}<pre class="hint-response">{{ hint.response }}</pre>
                {% endif %}
            </td>
            <td>
                <p>
                    {% format_time hint.submitted_datetime "DATE_AT_TIME" as submitted_time %}
                    {% blocktranslate %}Asked {{ submitted_time }}{% endblocktranslate %}
                    {% if hint.answered_datetime and hint.status != 'OBS' %}
                    {% format_time hint.answered_datetime "DATE_AT_TIME" as answered_time %}
                    <br>{% blocktranslate %}Answered {{ answered_time }}{% endblocktranslate %}
                    {% endif %}
                </p>
                <p class="hint-info">
                    {% if hint.status == 'OBS' %}
                    {% translate "Looks like you solved this puzzle before we could send you a response! Your use of the hint was refunded." %}
                    {% elif hint.is_followup %}
                    {% translate "This was a follow-up hint." %}
                    {% elif hint.status == 'REF' %}
                    {% translate "Your use of the hint was refunded." %}
                    {% endif %}
                </p>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</main>
{% endblock %}
