{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block page-title %}
<title>{% blocktranslate with puzzle_name=puzzle.name %}Solution: {{ puzzle_name }}{% endblocktranslate %}</title>
{% endblock %}

{% block top-left-actions %}
<a href="{% url 'puzzle' puzzle.slug %}" class="btn">{% translate "Back to the puzzle" %}</a>
{% endblock %}

{% block content %}

<style>
h2 {
    font-size: 2.5rem;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 2rem;
}

h4 {
    font-size: 2rem;
    font-weight: normal;
    margin: 2rem 0;
}
</style>

<h1>
    {% blocktranslate with puzzle_name=puzzle.name %}Solution: {{ puzzle_name }}{% endblocktranslate %}
    {% if puzzle.answer %}<div class="solved-title-marker">{% translate "Answer:" %} <span class="solved-title-answer spoiler">{{ puzzle.answer }}</span></div>{% endif %}
</h1>

<main class="puzzle-main">
    <h2 style="margin-top: 0">
        {% translate "Written by" %}
        {% block puzzle-author %}
        {% translate "aliens" %}
        {% endblock %}
    </h2>

    {% puzzleblock solution-body %}
    {% if solution_body %}{{ solution_body }}{% elif template_name %}
    이 풀이가 아직 존재하지 않는 것 같습니다.
    <code>%(template_name)s</code> 이름의 풀이 템플릿을 찾았습니다.  
    {% else %}
    이 풀이 템플릿은 존재하지만, 풀이 콘텐츠 블록을 정의하지 않은 것 같습니다. 후반 작업 가이드를 확인해보시겠어요?
    {% endif %}

    {% puzzleblock author-notes %}
    {% if author_notes %}
    <h2 id="authors-notes">작가의 말</h2>
    {{ author_notes }}
    {% endif %}

    {% puzzleblock appendix %}
    {% if appendix %}
    <h2 id="appendix">{% block appendix-title %}{% translate "Appendix" %}{% endblock %}</h2>
    {{ appendix }}
    {% endif %}
</main>

{% endblock %}
