{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block page-title %}
<title>{% blocktranslate with puzzle_name=puzzle.name %}Stats: {{ puzzle_name }}{% endblocktranslate %}</title>
{% endblock %}

{% block top-left-actions %}
<a href="{% url 'puzzle' puzzle.slug %}" class="btn">{% translate "Back to the puzzle" %}</a>
{% endblock %}

{% block content %}

<style>
.list-table td:not(:first-child) {
    white-space: nowrap;
    font-variant: tabular-nums;
}
</style>

<h1>{% blocktranslate with puzzle_name=puzzle.name %}Stats: {{ puzzle_name }}{% endblocktranslate %}</h1>

<main>
    <div class="info-row">
        <div>
            <div class="stat-entry">풀어낸 팀: <span class="stat-value">{{ solves }}</span></div>
            <div class="stat-entry">{% translate "Teams unlocked:" %} <span class="stat-value">{{ unlock_count }}</span></div>            
        </div>
        <div>
            <div class="stat-entry">{% translate "Total guesses:" %} <span class="stat-value">{{ guesses }}</span></div>
            <div class="stat-entry">{% translate "Hints asked:" %} <span class="stat-value">{{ total_hint_count }}</span></div>
        </div>
        <div>
            <div class="stat-entry">힌트 보기 횟수: <span class="stat-value">{{ canned_hint_count }}</span></div>
            <div class="stat-entry">힌트 요청 횟수: <span class="stat-value">{{ asked_hint_count }}</span></div>
        </div>
    </div>

    <table class="sortable list-table">
        <col style="width: 35%">
        <col style="width: 15%">
        <col style="width: 18%">
        <col style="width: 14%">
        <col style="width: 18%">
        <tbody>
            <tr>
                <th>{% translate "Team" %}</th>
                <th>{% translate "Incorrect guesses" %}</th>
                <th>{% translate "Unlock time" %}</th>
                <th>{% translate "Time to solve" %}</th>
                <th>{% translate "Solve time" %}</th>
            </tr>
            {% for solver in solvers %}
            <tr{% if solver.is_current %} class="current-team"{% endif %}>
                <td><a href="{% url 'team' solver.team.team_name %}">{{ solver.team.team_name }}</a></td>
                <td>{{ solver.total_guesses }}</td>
                <td sorttable_customkey="{{ solver.unlock_time|unix_time }}">{% format_time solver.unlock_time %}</td>
                <td sorttable_customkey="{{ solver.open_duration }}">{% format_duration solver.open_duration %}</td>
                <td sorttable_customkey="{{ solver.solve_time|unix_time }}">{% format_time solver.solve_time %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}
