{% extends "base.html" %}
{% load i18n %}
{% load puzzle_tags %}

{% block content %}
<main style="text-align: center">
    <h4>
        {% blocktranslate with title=hunt_title %}Congratulations on completing the {{ title }}!<br>You will receive more information shortly via email.{% endblocktranslate %}
    </h4>

    텍스트 퍼즐헌트를 완주한 것을 축하드립니다! 🎉🎉🎉  
    <br>
    이제 퍼즐의 해설과 통계, 마무리를 볼 수 있습니다.  
    <br>
    <a href="https://forms.gle/krLeyRghz1B2EX139" target="_blank">피드백 설문조사</a>를 통해 소감을 남겨주면, 더 나은 퍼즐헌트를 제작하는데에 도움이 됩니다!  

<!-- 수정할 것! 뭔가 축하해주는 텍스트 그림 집어넣기? -->

</main>
{% endblock %}
