{% extends "base.html" %}
{% load i18n %}

{% block top-left-actions %}
<a href="{% url 'hunt-stats' %}" class="btn">{% translate "Hunt Stats" %}</a>
<a href="{% url 'finishers' %}" class="btn">{% translate "Finishers" %}</a>
<a href="{% url 'biggraph' %}" class="btn">{% translate "Big Graph" %}</a>
{% endblock %}

{% block content %}

<style>
  body{
    position: relative;
  }
  
  aside {
    display: none;
  }

  @media screen and (min-width: 961px) {
    
    aside {
      display: block;
      position: absolute;
      width: 200px;
      top: 120px;
      right: 10px;

      padding: 3px 10px;
      text-align: right;
      background: linear-gradient(to right, transparent, rgba(207, 58, 36, 0.2));
    }

    aside div {
      color: var(--link-text-color);
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    aside :hover {
      text-decoration: underline;
    }

    aside .highlight {
      font-weight: bold;
    }
   

    .content {
      /* margin-left: calc(240px - 10vw); */
    }
  }
</style>

<h1>{% translate "Wrap-Up" %}</h1>

<main>
<p style="text-align: center;">{% translate "Congratulations!" %}</p>

<h1>제목1</h1>
가나다라 마바사아자차카타파하
수정하기


</main>

<aside>
  [바로가기]
  <script>
    const heads = [...$('h1,h2,h3,h4,h5,h6')].map(head => [head, $('<div>')
      .text(head.textContent)
      .css('padding-left', head.tagName.substr(1) + 'em')
      .click(() => head.scrollIntoView())
      .appendTo('aside')]);
    function highlight() {
      const rects = heads.map(([head]) => head.getBoundingClientRect());
      heads.forEach(([head, link], i) => link.toggleClass('highlight',
        (!rects[i + 1] || rects[i + 1].top > 0) && rects[i].top < innerHeight));
    }
    document.addEventListener('scroll', highlight, { passive: true });
    highlight();
  </script>
</aside>

{% endblock %}
