{% extends "base.html" %}
{% load i18n %}

{% block top-left-actions %}
<a href="{% url 'hunt-stats' %}" class="btn">{% translate "Hunt Stats" %}</a>
<a href="{% url 'finishers' %}" class="btn">{% translate "Finishers" %}</a>
<a href="{% url 'biggraph' %}" class="btn">{% translate "Big Graph" %}</a>
{% endblock %}

{% block content %}

<style>
  body {
    position: relative;
  }

  aside {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    aside {
      display: block;
      position: fixed;
      
      left: 50%; 
      margin-left: 500px;

      width: 200px;
      top: 120px;
      padding: 15px;
      text-align: left;

      background: linear-gradient(to left, transparent, rgba(207, 58, 36, 0.1));
      border-left: 3px solid rgba(207, 58, 36, 0.5);
      z-index: 100;
      max-height: 80vh;
      overflow-y: auto;
    }

    aside div {
      color: var(--link-text-color, #333);
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 4px;
      font-size: 2rem;
    }

    aside div:hover {
      text-decoration: underline;
      background-color: rgba(255, 255, 255, 0.5);
    }

    aside .highlight {
      font-weight: bold;
      color: #cf3a24;
    }
  }
</style>

<h1>{% translate "Wrap-Up" %}</h1>

<main>
<p style="text-align: center;">
  📝🎉 {% translate "Congratulations!" %} 📝🎉
  <br>
  <a href="https://forms.gle/krLeyRghz1B2EX139" target="_blank">피드백 설문조사</a>를 할 수 있습니다.
</p>

<h2>스토리</h2>

당신은 매일같이 여러 소설을 써내려가는 소설가입니다. 7가지의 퍼즐들은 각각 소설책이고, 플레이버 텍스트는 등장인물의 대사였습니다. 메타 퍼즐과 최종 퍼즐은 당신에 대한 이야기이며, 플레이버 텍스트는 내레이션입니다.
<br>
소설책은 에피소드 형식으로 되어 있어서, 전체적인 스토리를 알기 위해선 <strong>초안</strong> 퍼즐에서처럼 여러개의 소설책을 이어서 봐야 합니다. 대략적으로 정리하면 다음과 같습니다.
<br><br>
1. 시리즈: 꿈
<br>
목공(편의상 목수)은 생계를 유지하기 위해 어려서부터 열심히 목공 일을 해왔다. 가끔 블랙아웃을 겪을 정도로 신체에 부담이 가지만 그만둘 수는 없었다. 하지만 그에게도 만화가라는 어릴 적 꿈이 있고, 포기할 수 없던 그는 미술학원 근처를 돌아다니며 관심을 보인다. 이를 알아챈 목수의 누나는 자신의 자취방에서 숙식을 해결하며 꿈을 이루는 데에 조금이라도 보탬이 되도록 쪽지를 보낸다.
<br><br>
2. 시리즈: 이세계
<br>
갑작스럽게 이세계로 놓여진 주인공은 신비한 영토에 발을 들이게 된다. 투명한 미로에 갇힐 뻔 했지만 수다쟁이를 만나 간신히 위험을 면하게 되고, 언어 체계도 달랐지만 시간을 들여 공부했다. 수다쟁이와 친구가 된 후, 그가 미로를 정말 좋아하고 더 많은 사람이 오길 원한다는 점을 알아차린다. 그래서 주인공이 가야금 연주를 가르쳐주며, 아름다운 선율로 미로를 홍보하기로 한다.
<br><br>
3. 현실: 소설가
<br>
책을 좋아하는 당신은 자신의 아이디어를 직접 이야기로 만들고 싶었습니다. 브레인스토밍을 하고 그 내용을 정리하며, 거의 한 달 넘게 몰두하며 당신만의 소설을 써내려가기 시작합니다. 좋아하는 구절을 듬뿍 담아, 결국 소설을 완성합니다.
<br><br>
<table class="puzzle-main">
  <thead>
    <tr>
      <th style="width: 7%">분류</th>
      <th style="width: 7%">제목</th>
      <th style="width: 86%">플레이버 텍스트</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>회전</td>
      <td>눈앞이 어질어질해. 나는 누구지? 설마 그걸 잊어버렸겠어. 글씨를 거꾸로 봐도 말이 되는 걸 보니 정말 정신이 없나 봐.</td>
    </tr>
    <tr>
      <td>2</td>
      <td>복제</td>
      <td>아직도 구름이랑 나무가 여러 개로 보이네. 아무래도 다른 시공간으로 건너온 것 같아. 그래서 여긴 어디야?</td>
    </tr>
    <tr>
      <td>1</td>
      <td>삼체</td>
      <td>근처를 둘러보며 정보라도 얻어가자. 저기서 열심히 정리하고 있는 건 뭘까? 도와주려면 숫자에 맞게 정리된 걸 꺼내면 되나보다.</td>
    </tr>
    <tr>
      <td>2</td>
      <td>미로</td>
      <td>으악! 투명한 벽에 부딪힌 것 같아. 벽이 잇닿아 있는 윤곽조차 모르겠는데, 탈출할 수 있도록 누군가 도와줄 사람은 어디 없나?</td>
    </tr>
    <tr>
      <td>1, 2</td>
      <td>암호</td>
      <td>언제쯤 이 문장을 해석할 수 있을까? 처음 보는 단어라서 하나도 모르겠다. 잘만 비틀어서 보면 익숙한 단어가 보이는 것 같은데 말이야.</td>
    </tr>
    <tr>
      <td>1</td>
      <td>숫자</td>
      <td>숫자가 중요하다면서 준 쪽지에 영어밖에 없는 건 뭐야. 마음 편히 있을 곳은 어디라는 거야? 밖에 있어서 컴퓨터도 없는데 번역은 어떻게 해야 하나 걱정이다.</td>
    </tr>
    <tr>
      <td>2</td>
      <td>장난</td>
      <td>말장난은 정’말 짱난’다. 물론 조절을 잘 해낸다면 외국에 있는 Cryptic Crossword랑 비슷한 느낌이 나기도 해. 무엇이 사람들을 다시 돌아보게 만들 수 있을까?</td>
    </tr>
    <tr>
      <td>3</td>
      <td>달력</td>
      <td>당신의 옆에 놓인 달력장에는 소설을 써왔던 일정으로 가득 차 있습니다. 언제 무엇을 떠올렸는지, 이때까지 구상했던 내용들의 공통점을 찾아서 일정을 짜맞추고 나서야, 특별했던 날들을 되새겨 보기로 합니다.</td>
    </tr>
    <tr>
      <td>3</td>
      <td>초안</td>
      <td>당신은 이때까지 구상한 내용들을 조리 있게 정리하기로 합니다. 앞부분만 해도 6개 중 4개는 한 거지만, 남은 뒷부분이 구체적일수록 좋으므로 알맞은 순서를 찾아 초안을 작성합니다. 그들의 대사가 큰 도움이 될지도 모르겠군요.</td>
    </tr>
    <tr>
      <td>3</td>
      <td>가치</td>
      <td>소설을 완성하는 것은 고되고 힘든 일이었습니다. 당신은 뒤에 따라붙을 말들을 생각하며, 그들의 가치를 가늠해 보려 했습니다. 하지만 그 속에서 나타난 글자를 보고는 이내 마음을 접게 되었습니다. 마지막으로 불완전한 부분을 적절하게 채워 넣고, 좋아하는 글귀들을 되새깁니다.</td>
    </tr>
  </tbody>
</table>

<h2>퍼즐헌트 제작</h2>

<h5>1. 제작 기간</h5>
8월: 프로젝트 시작
<br>9월: 문제 제작 및 웹사이트 제작 
<br>10월-11월: 플레이 테스트
<br>12월: 출시
<br>
<br>7월 29일: gph-site 템플릿으로 퍼즐헌트 제작 가능성 확인
<br>8월 18일: 퍼즐 <b>복제</b>, <b>삼체</b> 등의 발상을 가지고 프로젝트 시작
<br>8월 20일: 메타퍼즐 <b>달력</b>의 발상 구체화, 정답들 정함
<br>8월 마지막 주: <a href="https://2025.galacticpuzzlehunt.com/" target="_blank">GPH 2025</a> 참여
<br>
<br>8월 30일: 퍼즐 <b>삼체</b> 완성
<br>9월 1일: 퍼즐 <b>회전</b>, <b>장난</b> 완성
<br>9월 3일: 퍼즐 <b>복제</b> 완성
<br>9월 4일: 퍼즐 <b>미로</b> 완성, 퍼즐 <b>암호</b> 작성
<br>9월 5일: 퍼즐 <b>숫자</b> 완성, 메타퍼즐 <b>초안</b>, <b>가치</b> 발상 떠오름
<br>9월 6일: 메타퍼즐 <b>초안</b>, <b>가치</b> 완성
<br>
<br>9월 둘째 주: 해설 작성, 9월 말 출시 포기
<br>9월 셋째 주: 웹사이트 제작
<br>9월 넷째 주: 웹사이트 힌트 시스템 구축, 힌트 작성
<br>10월 셋째 주: 플레이 테스트 시작, 문제 오류 수정
<br>10월 넷째 주: 11월 중순 출시 포기
<br>11월 셋째 주: 플레이테스트 피드백 반영
<br>11월 넷째 주: 홍보 시작, 퍼즐 <b>암호</b> 완성
<br>
<br>12월 둘째 주: 퍼즐헌트 시작

<h5>2. 제작 방법</h5>
텍스트 퍼즐헌트의 가장 큰 목표는 '<b>한국어로 된 짧은 퍼즐헌트 제작</b>'이였고, 그다음 목표는 '퍼즐헌트 초심자도 즐길 수 있도록, 해외 퍼즐헌트에서 쉬운 아이디어를 벤치마킹하여 활용하자' 였습니다.
<br>
목표를 빠르게 달성하고 더 어렵고 규모가 큰 다른 퍼즐헌트 제작으로 넘어가려 했습니다. 그래서 아트에 크게 신경쓰지 않기 위해 "<b>텍스트</b>"로만 이뤄진 퍼즐이라는 테마를 기획하게 되었습니다. 하지만 결국 1인 제작의 한계에 부딪혀 출시가 늦어지게 되었습니다.
<br><br>
퍼즐이 단계가 많고 복잡한건 아니여서, 제작에는 시간이 많이 소요되지 않았습니다. (9월 첫째 주를 보세요.) 정답 조건이나 퍼즐에 사용할 조건에 맞는 단어들을 찾는게 오래 걸렸습니다. 코딩을 잘 하지는 못해서 직접 국어사전을 검색하며 찾았습니다.
<br>
아이디어는 공책에서 자유롭게 생각하며 뽑아내는 편이고, 그림을 딱히 그릴 필요가 없어서 퍼즐 제작은 컴퓨터 문서로 작성했습니다. <b>삼체</b>와 <b>가치</b> 문제는 제작할 때 표를 썼어야 해서 스프레드시트를 활용했습니다. <b>미로</b> 문제는 공책에 십자말풀이를 만들었습니다.
<br>
퍼즐에는 텍스트밖에 없었으므로 웹사이트로 구현하는 것은 큰 문제가 되지 않았습니다. 오히려 해설을 작성할 때 십자말풀이나 표를 원하는 디자인으로 구현하는 데에 조금 어려움이 있었고, 이 부분은 Gemini와 함께 해결해 나갔습니다. 그 외에 해설이나 힌트, 작가의 말, 마무리 글 모두 문서로 작업했습니다.
<br><br>
퍼즐헌트의 구조에 대해 조금 아쉬운 것이 있습니다. 미궁과는 다른 퍼즐헌트의 매력은 <b>병렬적으로 풀어낼 수 있는 구조와 백솔브</b>라고 생각합니다. 예전에 다른 한국어 퍼즐헌트인 <a href="https://mrrheehunt.net/" target="_blank">미스터리 퍼즐헌트</a>를 플레이하면서 조금 선형적이라는 인식을 받았어서 이를 탈피하고 싶었지만, 저 역시 비슷한 구조의 퍼즐헌트를 만들고 말았습니다. (항상 감사합니다.) 짧은 퍼즐헌트는 어쩔 수 없이 이렇게 되나봅니다. 다음 퍼즐헌트를 만든다면 더 긴 길이로 병렬적으로 구성하고 싶습니다.


<h5>3. 웹사이트</h5>
저는 기초적인 수준의 python 코딩만 할 수 있고, 나머지 코딩 지식은 전무합니다. 그럼에도 1인 개발로 웹사이트를 운영할 수 있었던 것은 오픈 소스로 열린 <a href="https://github.com/galacticpuzzlehunt/gph-site" target="_blank">gph-site</a>와 Gemini 덕분입니다. 웹사이트 개발의 전 과정을 gph-site를 기반으로 Gemini에게 물어보며 진행했습니다.
<br><br>
처음에는 로컬 개발환경에서 Django와 친해지는 시간을 가졌습니다. 그리고 웹사이트 디자인과 시스템을 수정했습니다. 초기 css 디자인은 Gemini가 거의 바이브코딩 급으로 해주더라고요. 물론 색감이나 디테일은 직접 수정했습니다. 글꼴은 네이버 "나눔스퀘어 네오"체를 사용했습니다.
<br>
이번 퍼즐헌트는 5년간 열려있을 예정이므로 기존 GPH와는 다른 시스템이 적용되어야 해서 시스템 수정에 가장 많은 시간이 소요되었습니다. 특히 힌트 시스템 두 가지를 채용하여 동시에 운용하기 위해서 10일 넘게 씨름했던 것 같습니다.
<br>
아마 아직도 코드를 뜯어보면 스파게티처럼 꼬여있을 겁니다… 다음 퍼즐헌트에는 웹사이트 자문을 꼭 구해야겠다고 다짐했던 계기였습니다.
<br><br>
실제 배포하는 과정도 만만치 않았습니다. 전부 돈이 들어가더라고요. 열심히 Gemini와 무료로 배포할 수 있도록 여러 서비스를 알아봤습니다. 결국 Host로 “render”와 DB로 “supabase”를 사용하고 있습니다. 아, 메일 자동발송 서비스로는 “mailersend”를 사용하고 있습니다.
<br>
출시에 맞춰서 많은 사람이 접속할 수 있도록 “render” 및 메일 발송 서비스를 업그레이드 하는 것과, 웹사이트 도메인을 구매하는 것 외에는 지출한 내역이 없습니다. 물론 다음 퍼즐헌트를 진행한다면, 자본을 더 투자하여 불편을 최소화하려 생각하고 있습니다.


<h5>4. 테스트 플레이</h5>
원래는 자그마한 프로젝트이므로 테스트 플레이 없이 바로 공개할 생각이였습니다. 하지만 메타문제를 만들고 규모가 커지니, 오류 없이 잘 굴러갔으면 좋겠더라고요. 그래서 더 좋은 퀄리티의 문제를 위하여 지인들 중 소규모 인원을 모집하여 테스트를 진행했습니다.
<br>
확실히 테스트를 하니 너무 저만의 관점에서 문제를 제작하려 한 것이 느껴졌습니다. 대형 퍼즐헌트나 퍼즐게임에서 왜 그렇게 열심히, 또 여러 차례 테스트를 진행하는지 알 수 있었습니다. 그럼에도 원하던 퍼즐 경험을 제공할 수 있어서 다행이라 생각합니다.
<br>
테스트 플레이에 큰 강제성이 없었어서 테스트 기간이 늘어났고, 출시가 한 차례 미뤄지게 되었습니다. 테스트 플레이어분들에게 처음부터 full-play test를 요청한 것이 장벽으로 작용했던 것 같습니다. 추후에는 개별적인 문제가 검수되자 마자 테스트플레이를 하는 방식도 고려하고자 합니다.
<br>
그럼에도 불구하고, 테스트 플레이어로 참여해주신 분들께 다시 한 번 감사드립니다.


<h5>5. 홍보 및 출시</h5>
2026년 1월에 업데이트 예정입니다.

<h2>부록</h2>

<h5>1. 제작자 Q&A</h5>
2026년 1월에 업데이트 예정입니다.


<h5>2. 경험 공유</h5>
2026년 1월에 업데이트 예정입니다.
<br>
각 팀이 피드백과 함께 공유하고자 하는 내용이 있다면, 검수 후 실릴 예정입니다.


<h2>크레딧</h2>

<div style="text-align: center;">
총괄: 자갈
<br><br>
퍼즐: 자갈
<br><br>
웹사이트: 자갈, Gemini 2.5 Pro
<br><br>
테스트 플레이어: 멀티플레이어, De, 안민규, 헤이유
</div>

</main>

<aside>
  [바로가기]
</aside>

<script>
  const heads = [...$('h2, h5')].map(head => {
    const $head = $(head);
    const tagName = head.tagName.toLowerCase();
    
    const $link = $('<div>')
      .text($head.text())
      .css('padding-left', tagName === 'h5' ? '15px' : '0px') 
      .css('font-size','2rem')
      .click(() => {
        const offset = 50; 
        const topLocation = window.scrollY + head.getBoundingClientRect().top - offset;
        
        window.scrollTo({
          top: topLocation,
          behavior: 'smooth'
        });
      })
      .appendTo('aside');
      
    return [head, $link];
  });

  function highlight() {
    const innerHeight = window.innerHeight;
    
    heads.forEach(([head, link], i) => {
        const rect = head.getBoundingClientRect();
        const nextRect = heads[i + 1] ? heads[i + 1][0].getBoundingClientRect() : null;
        
        const isActive = (rect.top < innerHeight * 0.3) && 
                         (!nextRect || nextRect.top > innerHeight * 0.3);
                         
        link.toggleClass('highlight', isActive);
    });
  }

  document.addEventListener('scroll', highlight, { passive: true });
  highlight();
</script>

{% endblock %}
