{% extends "puzzle.html" %}
{% block puzzle-body-md %}

말장난은 정’말 짱난’다. 물론 조절을 잘 해낸다면 외국에 있는 Cryptic Crossword랑 비슷한 느낌이 나기도 해. 무엇이 사람들을 다시 돌아보게 만들 수 있을까?
{: .flavor}

우리나라 말에서 수사를 뺀 교과목 (2)  
팬미팅에서는 박수의 첫머리를 잘라내고 회를 뜬다. (3)  
불가능할 것으로 생각했던 것이 실제로 벌어질 때 들려오는 소리를 흡수하는 것 (3)  
내 마음속 깊은 뜻을 의심하는 장미를 흔든다. (4)  
소금 간 이 쉬운 걸 들은 대로 못해서 지금 요리에 더 채우는 거야? (3)  
없는 것을 바랄 불이 없다. (3)  
너 자신의 한계에 맞게 물줄기를 나누라. (2)  
아랫사람이 과학수사의 기초 덕에 장군 (4)  
흔들거리는 눈처럼 희고 진한 국물 요리에 소음기를 장착하고 음양을 뒤집는다. (2)  
교실의 두 명에게서 느껴지는 트로트의 강한 리듬 (2)  
전통적인 기계로 베이스의 틀어짐을 처음부터 확인한다. (2)  
누가 어디서 보든 제주의 어머니 (2)  
그림 속의 물구나무 선 곰과 초월자 (2)  
이중슬릿 직전에 거쳐야 하는 것의 가장 오른쪽과 가장 아래쪽을 자른 확률형 아이템 (3)  
( '덤 사본'만 사용해서 연역적으로 추리하라. (4) )  

<button class="btn clipboard-button"></button>

{% endblock %}
