{% extends "puzzle.html" %}
{% block puzzle-body-md %}

당신은 이때까지 구상한 내용들을 조리 있게 정리하기로 합니다. 앞부분만 해도 6개 중 4개는 한 거지만, 남은 뒷부분이 구체적일수록 좋으므로 알맞은 순서를 찾아 초안을 작성합니다. 그들의 대사가 큰 도움이 될지도 모르겠군요.
{: .flavor}

<u>&emsp;&emsp;&emsp;</u>/<u>&emsp;&emsp;&emsp;</u> 이/가 <u>&emsp;&ensp;/&emsp;&ensp;</u>&ensp;<u>&emsp;&emsp;&emsp;</u>/<u>&emsp;&emsp;&emsp;</u> 에서/에서 <u>&emsp;&emsp;&emsp;</u>/<u>&emsp;&emsp;&emsp;</u> 을/를 …  

거대한 [번] / 미로의 [4]  
것이다. [표] / 했다. [나]  
곳임에도 [음] / 흐리고 [문]  
그릴 [음] / 연주하기로 [가]  
꿈을 [째] / 분위기를 [번]  
날의 [2] / 때 [속]  
다음날은 [온] / 비좁은 [다]  
몰두해 [물] / 배우며 [나]  
연출하기 [글] / 이루기 [글]  
위해서. [자] / 위해서. [자]  
젊은 [의] / 화창할 [장]  

<button class="btn clipboard-button"></button>

{% endblock %}
