{% extends "puzzle.html" %}
{% block puzzle-body-md %}

으악! 투명한 벽에 부딪힌 것 같아. 벽이 잇닿아 있는 윤곽조차 모르겠는데, 탈출할 수 있도록 누군가 도와줄 사람은 어디 없나?
{: .flavor}

가로 (10)  
1. 가장 높은 봉우리 (3)  
3. 결정장애 (4)  
4. 네즈코의 오빠 (3)  
5. 범죄 현장에서 사회 질서를 유지하는 사람 (2)  
6. 지구 중심부 근처 (2)  
7. 예상한 것과 다르게 (3)  
9. 계산할 것이나 꾸미는 것 (2)  
10. 단어가 새로운 뜻을 얻는 것 (4)  
12. 김치의 주재료 (2)  
13. 앤디, 혹은 관광취업 (2)  
14. 안경에서 귀에 거는 부분 (4)  
16. 민다나오섬 북쪽 끝의 항구도시 (4)  
17. 교실에서 돌아가며 맡는 직책의 통칭 (2)  
18. 돈을 빌려준 대가로 받는 수입. 세금도 매길 수 있다. (4)  
20. 매서운 눈초리로 노려보다. (4)  
22. 이 퍼즐에서의 끝 (2)  
24. 도시마다 대중교통의 정차역들이 그려진 그림 (6)  

세로 (11)  
1. 이 퍼즐의 답을 얻기 위해 살펴봐야 할 위치 (2 3 2 2)  
2. 문서를 담기 위해 종이로 만든 주머니 (2)  
3. 비와 이슬 (2)  
4. 국회에서 고위 공무원의 잘못에 대해 공소를 제기하는 안건 (5)  
7. 깨어 있는 상태에서 인식하는 작용 (2)  
8. 이 퍼즐에서의 시작 (2)  
9. 여러 색실을 사용한 것처럼 아름다운 경치를 이루다. (3)  
11. 열기로 뜨거워지다. (5)  
15. 라이벌 등의 사람 (3)  
18. 비행기의 세로 8번과 가로 22번 (3)  
19. 인공 케이싱에 고기가 들어간 식품 (3)  
21. 유명한 포도주 산지 (3)  
23. 알맞은 시절 (2)  

<button class="btn clipboard-button"></button>

{% endblock %}
