{% extends "puzzle.html" %}
{% block puzzle-body-md %}

숫자가 중요하다면서 준 쪽지에 영어밖에 없는건 뭐야. 마음 편히 있을 곳은 어디라는 거야? 밖에 있어서 컴퓨터도 없는데 번역은 어떻게 해야 하나 걱정이다.
{: .flavor}

<button class="btn clipboard-button"></button>

dmdkr! zlqhemrk rhwkdskTdj! duddjfhaks Tjwlrh gksrmfdlfkd tntwkeh dlqfurdl dksehlsp.  
djEjrgkwl? dl snskrk sjfmf dnlgo akfusgks rhtdmf dkffuwnjdi gksmsep, sks duddjfmf ahtgkseks akfdldi.  
djWjf tn djqtwl. rldurdlfdldltlqtkfh dkffuwnfrp. gksrmfdml rlqhswkahfmf tnstjeofh skdufgotj tntwkdhk eodmdgks rjdi.  
dPfmf emfaus, rldurdms dlfdltlqtk vkftlqvkfdlf dlsrjwl. dlfjaus dl rmfdmf dlgogkwl ahtgoeh dkfdkqhf tn dlTdmfrjdi!!  

dlfdlfdltlqdlfdh vkfdltlqtkatk Emlrh vkfdltlqdlfdltlqtk tlqtktlqdhdltlqtk clftlqclfdl Emlrh vkftlqclfdl rntlqclfdltlqtk tkadltlqtkadl rndltlqtk Emlrh dldltlqdlf dltlqdh Emlrh vkfdltlqdlftlqclftk clftlqclfdltlqtk dbrtlqdhvkf Emlrh vkfdltlqtka tktlqrn Emlrh vkftlqrntlqdh tkatlqrn Emlrh dlftlqrntlqdhdltlqtkdl tlqtlqdhdltlqtk vkftlqdh.

djaak dkemfdprp.  
dkQk Ekf qhsoa.  

{% endblock %}
