{% extends "puzzle.html" %}
{% block puzzle-body-md %}

숫자가 중요하다면서 준 쪽지에 영어밖에 없는 건 뭐야. 마음 편히 있을 곳은 어디라는 거야? 밖에 있어서 컴퓨터도 없는데 번역은 어떻게 해야 하나 걱정이다.
{: .flavor}

dmdkr! zlqhemrk rhwkd skTdj! duddjfhaks Tjwlrh gksrmfdlfkd tntwkeh dlqfurdl dks ehlsp.  
djEjrgkwl? dl snskrk sjfmf dnlgo akfusgks rhtdmf dkffuwnjdi gksmsep, sks duddjfmf ahtgkseks akfdldi.  
djWjf tn djqtwl. rldurdlfdldltlqtkfh dkffuwnfrp. gksrmfdml rlqhs wkahfmf tnstjeofh skdufgotj tntwkdhk eodmdgks rjdi.  
dPfmf emfaus, rldurdms dlfdltlqtk vkftlqvkfdlf dlsrjwl. dlfjaus dl rmfdmf dlgogkwl ahtgoeh dkfdkqhf tn dlTdmf rjdi!!  

dlfdlfdltlqdlfdh vkfdltlqtkatk Emlrh vkfdltlqdlfdltlqtk tlqtktlqdhdltlqtk clftlqclfdl Emlrh vkftlqclfdl rntlqclfdltlqtk tkadltlqtkadl rndltlqtk Emlrh dldltlqdlf dltlqdh Emlrh vkfdltlqdlftlqclftk clftlqclfdltlqtk dbrtlqdhvkf Emlrh vkfdltlqtka tktlqrn Emlrh vkftlqrntlqdh tkatlqrn Emlrh dlftlqrntlqdhdltlqtkdl tlqtlqdhdltlqtk vkftlqdh.

rmfjrh qhsl sork tntwkeh rhwkd sks cofh wjrdjTrnsk. dl rmfdmf dlgogkf tn dlTdmfusk...?  
anj, sjsms ajflrk whgdmsl ek dlfrrpTwl! ghkdlxld!  

djaak dkemfdprp.  
dkQk Ekf qhsoa.  

<button class="btn clipboard-button"></button>

{% endblock %}
