{% extends "puzzle.html" %}
{% block puzzle-body-md %}

눈앞이 어질어질해. 나는 누구지? 설마 그걸 잊어버렸겠어. 글씨를 거꾸로 봐도 말이 되는 걸 보니 정말 정신이 없나 봐.
{: .flavor}

<span class="rotated-text">( ‘능력과 관련된 단어인 <span class="rotated-text">( '<span class="rotated-text">( 시계의 <span class="rotated-text">( IIX )</span> 이전 숫자와 <span class="rotated-text">( 5 )</span>를 이어 붙인 영어 )</span> - <span class="rotated-text">( <span class="rotated-text">( BL - h ÷ BEE + h ÷ OI )</span> )</span>'의 한국어 )</span>'과 <br>'모음을 복제하여 <span class="rotated-text">( 읽으면 '<span class="rotated-text">( 9 ÷ 6 - 2 ÷ 5 )</span>' 과 비슷한 단위의 알파벳 )</span>을 한국어로 읽은 단어'을 <br>이어 붙인 단어 )</span>

<button class="btn clipboard-button"></button>

{% endblock %}
