{% extends "puzzle.html" %}
{% block puzzle-body-md %}

근처를 둘러보며 정보라도 얻어가자. 저기서 열심히 정리하고 있는 건 뭘까? 도와주려면 숫자에 맞게 정리된 걸 꺼내면 되나보다.
{: .flavor}

<button class="btn clipboard-button"></button>

명량, 보, 블로섬, 스쿼트, 유두래곤, 벤치프레스, 공허의 유산, 좋아요, 코난, 가위, 고려, 악마의 상자, 노량, 인식론, 한산, 사랑, 사카즈키, 우애, 연세, 투명 망토, 용기, 평화, 코사인, 딱총나무 지팡이, 세로, 민국, 김밥, 돌, 위, 이상한 마을, 스코치 트라이얼, 힘, 정렬, 지방, 버터컵, 지혜, 유미란, 군단의 심장, 과거, 순대, 행정, 트러플, 신라, 비룡, 입법, 자유, 현재, 사인, 린다지, 팔로우, 평등, 떡볶이, 탄젠트, 만세, 가로, 유명한, 캐비어, 백제, 대한, 버블, 미래, 가나다, 서울, 자유, 촉, 데스 큐어, 오, 부활의 돌, 사법, 메이즈 러너, 순서, 푸아그라, 높이, 쿠잔, 고구려, 데드리프트, 최후의 시간여행, 자유의 날개, 윤리학, 마리아, 탄수화물, 사만다, 여자, 조지나, 바람, 단백질, 볼사리노, 형이상학, 바위, 댓글  
0, 0, 0, 0, 0, 3, 0, 7, 0, 0, 4, 2, 0, 0, 5, 0, 0, 5, 0, 0, 6, 3, 0, 14, 0, 0, 4, 0, 7, 0  

{% endblock %}
