{% extends "puzzle.html" %}
{% block puzzle-body-md %}

근처를 둘러보며 정보라도 얻어가자. 저기서 열심히 정리하고 있는 건 뭘까? 도와주려면 숫자에 맞게 정리된 걸 꺼내면 되나보다.
{: .flavor}

볼사리노, 명량, 정렬, 블로섬, 악마의 상자, 조지나, 지혜, 미래, 트러플, 백제, 돌, 린다지, 스코치 트라이얼, 탄수화물, 오, 만세, 민국, 최후의 시간여행, 평등, 이상한 마을, 형이상학, 고구려, 버블, 순대, 단백질, 윤리학, 노량, 비룡, 과거, 위, 입법, 우애, 푸아그라, 용기, 딱총나무 지팡이, 현재, 신라, 바위, 부활의 돌, 데스 큐어, 지방, 평화, 버터컵, 쿠잔, 캐비어, 좋아요, 자유, 사랑, 사카즈키, 보, 순서, 가나다, 자유, 메이즈 러너, 한산, 유두래곤, 마리아, 힘, 사법, 여자, 촉, 사만다, 대한, 바람, 떡볶이, 김밥, 댓글, 인식론, 가위, 팔로우, 행정, 투명 망토  
0, 0, 0, 3, 7, 0, 0, 4, 2, 0, 5, 0, 0, 5, 0, 0, 6, 3, 14, 0, 0, 4, 7, 0

<button class="btn clipboard-button"></button>

{% endblock %}
