{% extends "puzzle.html" %}
{% block puzzle-body-md %}

소설을 완성하는 것은 고되고 힘든 일이었습니다. 당신은 뒤에 따라붙을 말들을 생각하며, 그들의 가치를 가늠해 보려 했습니다. 하지만 그 속에서 나타난 글자를 보고는 이내 마음을 접게 되었습니다. 마지막으로 불완전한 부분을 적절하게 채워 넣고, 좋아하는 글귀들을 되새깁니다.
{: .flavor}

### 글자 점수 계산법  
  - 한 음절에 대한 점수를 계산합니다.  
  - 종성이 있다면 +4점 (예: 공-4, 유-0)  
  - 자음 중 울림소리가 있을 때마다 +2점 (예: 릴-4, 스-0)  
  - 모음 중 가로와 세로가 겹치는 점이 있을 때마다 +1점 (예: 웹-2, 툰-1)  
  - 글자에 외부와 단절된 공간이 있을 때마다 +3점 (예: 예-6, 약-3)  
  - 키보드로 글자를 칠 때 가장 아랫줄을 누를 때마다 +1점, 가운뎃줄을 누를 때마다 +2점, 가장 윗줄을 누를 때마다 +3점을 얻지만, Shift 키를 같이 누른다면 점수를 얻지 못합니다. (예: 글-6, 씨-2)  
  - 다음 문장 속에 있는 글자라면 해당 점수를 얻습니다. (예: 거-8, 지-15)  
    ＋6점: “언제라도 무력감이 그대를 뒤엎는다면 내 그대를 안심시키리다.”  
    ＋7점: “어두운 암전 속에서 기회가 있을 때마다 잘난 체를 멈추지 않았다.”  
    ＋8점: “나는 지치지 않고도 종일 재잘거리는 그에게 호감을 느끼고 말았다.”  
  - 위의 점수를 계산해서 10점이 넘어가면, 10 미만이 될 때까지 각 자리의 숫자들을 더합니다.  
  - 글자가 현재 두 글자 이상의 단어에 들어있으며 그중 첫 번째 글자라면, 점수를 3으로 나눈 나머지를 최종 점수로 계산합니다.  
<br>
### 1.  
다음을 한 글자로 나타내라.  
다른 / 수리하는  
데로 / 데에  
도구들 / 사람들  
망가진 / 사는  
무언가 / 법인의  
물건을 / 집을  
바꾸거나 / 쓰거나  
사무를 / 제조하면  
사용하는 / 처리하는  

### 2.  
한가운데에 들어갈 글자는?  
가로  
1. 갈색 / 것이, 두려워할 / 마노의, 만한 / 붉은, 없음 / 잿물  
3. 걸치는 / 들어간, 것 / 물질, 기간에 / 많이, 당분이 / 오랜  
세로  
1. 긴급체포의 / 말을, 다른 / 수호하기, 단 / 상태, 말로 / 위해, 없는 / 지내던, 영장 / 제사  
2. 것 / 성질, 겉으로 / 유기, 그런 / 그런, 드러난 / 화합물, 또는 / 또는  

### 3.  
한가운데에 들어갈 글자는?  
가로  
1. 우리나라의 유명 성악가의 전날 잘 어울리는 아름다움  
3. 밝은 물건 세상의 비싼 걸 사려고 돈을 모으는 모임  
세로  
1. 로켓단 같은 조명 사이 곧을 한자  
2. 조심해야 할 수법 중 도를 물려주고, 레도 물려준 그다음  

### 4.  
인터넷에서 할 수 있는, 암호로 된 가치의 안에 안의 가치를 3 낮추는 초성을 더한다.  

### 5.  
다음 두 글자의 종성을 서로 바꾼 후, 합쳐서 완성된 단어와 맞춤법이 흔하게 혼동되는 단어는?  
가치가 9인 글자 / 냄새 등이 약하게 나는 모양새  
가치가 8인 글자 / 미래가 뚜렷이 보이지 않는 모양새  

### 6.  
달력 속의  
나면 삐뚤빼뚤한 것 / 일본어로 달콤한 것 + 헤아리다. / 자세하다.  
붙이는 것 / 뛰는 것  
조사 / 속뜻  
하나 / 매일  
뒤에 붙을 수 있는 말은?  

### 7.  
가로 12일, 23일, 세로 18일, 29일로 만든 수학자가 좋아할 만한 것의 모든 색깔을 빼라.  

### 8.  
완전 반대로, 4, 6  
가앉, 가이, 딩자노, 옴둘, 이민, 죽촹  

### 9.  
<span class="rotated-text">( 영어 대문자로 바꾼 후 셋 모두에서 겹치는 알파벳을 찾아라.  
두 번 나온 알파벳은 제거하고 ABC 순으로 나열하라.  
네지레, 레아 오르가나, 루크 스카이워커, 리사, 매기, 밀리오, 바트, 타마키, 한 솔로 )</span>  
를 한국어로 읽은 단어  

### 10.  
<span class="rotated-text">( EㄴEhㄴㅁㄱEㄱ )</span>  

###
<br>
+1  

<button class="btn clipboard-button"></button>

{% endblock %}
