html {
    --page-bg-rgb: 255, 249, 249; /* 원래 240, 242, 245 */
    --accent-bg-rgb: 244, 255, 244;
    --accent-rgb: 0, 0, 0;
    --dark-accent-rgb: 207, 58, 36;
    --body-rgb: 0, 0, 0;
    --dark-flair-rgb: 0, 255, 255;
    --flair-rgb: 255, 193, 204;
    --light-flair-rgb: 255, 0, 0;

    --white-color: #f9f8f5;
    --neutral-color: #bbbcc3;
    --dark-text-color: rgba(var(--dark-accent-rgb), 0.9);
    --subtle-text-color: rgba(var(--dark-accent-rgb), 0.5);
    --body-text-color: rgba(var(--body-rgb), 1.0);
    --glow-color: #be0000;
    /* --glow-color: rgba(var(--accent-rgb), 0.4); */

    --accent-color: rgb(var(--accent-rgb));
    --accent-bg-color: rgba(var(--accent-rgb), 0.1);
    --accent-hover-color: rgba(var(--flair-rgb), 0.7);
    --light-flair-color: rgba(var(--light-flair-rgb), 0.8);

    --page-bg-color: rgb(var(--page-bg-rgb));
    --sticky-bg-color: #f5d8d4;
    --heading-text-color: var(--accent-color);

    --border-color: var(--accent-color);
    --print-border-color: #111;

    --link-text-color: var(--accent-color);
    --link-hover-color: #0645AD;

    --btn-text-color: var(--accent-color);
    --btn-bg-color: transparent;
    --btn-bg-2-color: rgba(var(--accent-bg-rgb), 0.8);
    --btn-hover-color: rgba(var(--flair-rgb), 0.7);

    --tray-text-color: var(--accent-color);
    --tray-bg-color: rgba(var(--accent-bg-rgb), 0.65);
    --info-bg-color: rgba(var(--page-bg-rgb), 0.8);
    --dropdown-bg-color: rgba(var(--accent-bg-rgb), 0.9);

    --text-font: 'NanumSquareNeoBold';
    --btn-font: 'NanumSquareNeoExtraBold';
    --input-font: 'NanumSquareNeoBold' ;
    --answer-font: 'NanumSquareNeoBold';
    --accent-font: 'NanumSquareNeoExtraBold'; /* <-- 이 줄 추가 */
}

body {
    font-family: var(--text-font);
    font-variant-ligatures: none;
    line-height: 3rem;
    font-size: 2rem;
    overflow-wrap: break-word;
    position: relative;
    color: var(--body-text-color);
    /*font-weight: 900;*/
}

b, strong {
    text-shadow: 0 0 1.5px var(--glow-color); /*강조 표시 글자 뒤 빛나는거*/
}

@media print {
    nav, .shortcuts {
        display: none;
    }
}

@media screen {
    body {
        margin: 0 auto 60px;
        width: 80%;
        width: 80vw;
        max-width: 960px;
    }
}

p {
    margin-bottom: 2rem;
}

li {
    list-style-position: outside;
    margin-left: 1em;
}

ul > li {
    list-style-type: disc;
}

textarea {
    width: 100%;
    min-height: 12ch;
    font-family: var(--input-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--accent-font);
    font-weight: bold;
    /* text-shadow: 0 0 10px var(--glow-color); */

    letter-spacing: 0.02em;
    word-spacing: 0.1em;
}

h1, h2 {
    margin-top: 2.5rem;
    margin-bottom: 15px; /* 여백 조정 */
    font-size: 3.5rem;   /* 폰트 크기 살짝 조정 */
    line-height: 1.5;
    /* padding-bottom: 15px; 구분선과 글자 사이 여백 */
    /* border-bottom: 1px solid #e9ecef; /* 연한 회색 구분선 */
}

main {
    position: relative;
    background-color: #ffffff;
    padding: 30px 40px 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-top: 30px; /* 상단 메뉴와의 간격 */
    border: 1px solid #333333
}

/* 메인 콘텐츠 영역 안의 링크 스타일을 별도로 지정합니다. */
table a {
    text-decoration: none; /* 밑줄을 확실하게 제거합니다. */
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 2rem;
    line-height: 3rem;
}

table.very-small {
    font-size: 80%;
}

table.very-small td, table.very-small th {
    padding: 0.4em;
    line-height: 1.4;
}

code {
    max-width: 1000px;
    overflow: scroll;
    border: none;
    padding: 0.1em 0.25em;
    background-color: var(--primary-800);
}

tr:last-child td {
    border-bottom: none;
}

a, .btn {
    color: var(--link-text-color);
}

.btn, .shortcuts .btn {
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    border: none;
    font-family: var(--accent-font);
    text-transform: uppercase;
    letter-spacing: 0;

    padding: 0 16px;
    height: 32px;
    line-height: 32px;
    font-size: 2rem;
    border-radius: 0;
}

form .btn {
    padding: 0 24px;
    height: 60px;
    line-height: 30px;
    font-size: 2.5rem;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    border-radius: 0;
    margin: 0.5rem 0;
    font-family: var(--input-font);
}

figcaption {
    text-align: center;
}

/* See https://webaim.org/techniques/skipnav/ */
a.skip-to-main {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

a.skip-to-main:focus, a.skip-to-main:active {
    color: #fff;
    background-color: #000;
    opacity: 0.8;
    left: auto;
    top: auto;
    width: 70%;
    height: auto;
    overflow: auto;
    margin: 10px 15%;
    padding: 5px;
    border-radius: 15px;
    text-align:center;
    z-index: 999;
}

a.main-content-anchor {
    /* For some reason, display: block, visibility: hidden is needed. */
    display: block;
    visibility: hidden;
    position: relative;
    top: 4rem; /* .top-team-actions margin-bottom + h1 margin-top */
}

@media print {
    main {
        border-top: 1px solid var(--print-border-color);
    }

    .btn {
        border: 1px solid currentColor;
    }
}

@media screen {
    html {
        background-color: var(--page-bg-color);
    }

    main {
        display: table;
        min-width: 100%;
        box-sizing: border-box;
    }

    h1, h2, h3, h4 {
        color: var(--heading-text-color);
    }

    /* h1, h2 {
        text-transform: uppercase;
    } */

    h4 {
        border-bottom: 2px solid var(--border-color);
        font-weight: normal;
    }
    h3 {
        border-top: 1px solid var(--border-color);
        padding-top: 10px;
        font-weight: normal;
        font-size: 2.5rem;
    }


    a {
        transition: opacity 0.2s ease-in-out;
    }

    /*포인터 올릴 때 하이라이트 색상*/
    a:hover,
    a:focus {
        text-shadow: none;
        opacity: 1;
    }

    /* .puzzle-main {
        그냥 main으로 코드 옮김
    } */

    /* .puzzle-main h1, .puzzle-main h2, .puzzle-main h3, .puzzle-main h4 {
        background: none;
        border-left: none;
        padding: 0;
    } */

    /*버튼 색상*/
    .btn {
        position: relative;
        transition: background-color 0.3s;

        color: var(--btn-text-color);
        /* background-image: linear-gradient(1deg, var(--btn-bg-color), var(--btn-bg-2-color)); */
        border: 5px solid #333333; /* 2px 두께의 검은색 테두리 */
        padding: 2px 8px          ;/* 안쪽 여백 조정 */
        line-height: 1.5;          /* 줄 높이 조정 */


    }

    .btn:hover,
    .btn:focus {
        color: var(--btn-text-color);
        background-color: var(--btn-hover-color);
        opacity: 1;
    }

    .btn.danger {
        filter: hue-rotate(180deg);
    }

    .btn:disabled, .btn:disabled:hover, .btn.btn-disabled {
        background-color: var(--btn-bg-color);
        filter: grayscale(1);
        cursor: not-allowed;
    }

    nav {
        overflow: hidden;
        height: 50px;
    }

    .top-tabs {
        position: fixed;
        left: 0;
        width: 100%;
        z-index: 100;

        display: flex;
        white-space: nowrap;
        justify-content: space-between;
        font-size: 2rem;
        margin: 0 0 4rem 0;
        padding-bottom: 4px;
        line-height: 1;
        font-family: var(--accent-font);
        /* text-transform: uppercase; */
        background-color: #ffffff; /* 불투명한 흰색 배경 */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* 얇은 그림자 */
        border-bottom: 1px solid #eeeeee; /* 매우 연한 하단 테두리 */
        backdrop-filter: blur(0.5em); /* 블러 효과 제거 ?? 할거면 none 쓰기*/
    }

    .top-tabs a {
        display: inline-flex;
        position: relative;
        padding: 12px 20px;
        text-decoration: none;
        align-items: center;
    }
    
    .top-tabs .selected-tab {
        font-weight: bold;
        color: #a40000; /* 선택된 탭 글자색 */
        box-shadow: inset 0 -3px 0 #a40000; /* 안쪽 그림자로 하단 테두리 효과 */
    }

    .top-more-actions {
        line-height: 32px;
        margin: 5rem 0 0 0;
    }

    .top-team-actions {
        margin-left: 5rem;
        display: flex;
        align-items: center;
    }

    .top-team-actions .team-name {
        max-width: 15em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
    }

    .top-more-actions, .top-team-actions {
        word-spacing: 12px;
    }

    .top-more-actions > *, .top-team-actions > * {
        word-spacing: initial;
    }

    .site-nav {
        display: flex;
        margin-right: 5rem;
    }

    .current-stat {
        white-space: nowrap;
        display: inline-block;
        text-decoration: none;
        vertical-align: bottom;
        padding: 0 10px 0 0;
    }

    .current-stat-label {
        font-size: 2.4rem;
        vertical-align: bottom;
    }

    .shortcuts {
        background-color: var(--dropdown-bg-color);
        position: absolute;
        padding: 1rem 1rem 0;
        left: 100px;
        top: 48px;
        z-index: 800;
        display: none;
        color: var(--text-color);
        white-space: normal;
    }

    .shortcuts form {
        margin: 0;
    }

    .shortcuts p {
        width: 25rem;
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin: 0 0 1rem;
    }

    .shortcuts .btn {
        margin-bottom: 1rem;
    }

    button#toggle-shortcuts {
        /* Make the button look like text. */
        padding: 0px;
        margin: 0px;
        height: auto;
        border: none;
        color: var(--body-text-color);
        text-transform: none;
        font-size: 17.5px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0px;
        overflow-wrap: break-word;
    }

    button#toggle-shortcuts:focus {
        outline: 5px auto Highlight;
        outline: 5px auto -webkit-focus-ring-color;
    }
}

@media screen and (max-width: 960px) {
    html {
        font-size: calc((960px - 100vw) / 80 + 10px);
    }

    body {
        width: calc(480px + 30vw);
    }

    .tray {
        display: flex;
        justify-content: space-between;
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        transform: translateY(calc(5px - 100%));
        transition: transform .1s;
        z-index: 900;
        padding: 2rem calc(150vw - 1160px) 1rem;
    }

    .tray:before {
        content: "";
        text-align: center;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: -100vh;
        bottom: -48px;
        padding-top: 90vh;
        background-color: var(--info-bg-color);
        color: var(--tray-text-color);
        backdrop-filter: blur(0.5em);
    }

    .tray:after {
        content: "\2630";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin-top: -10px;
        padding-top: 10px;
        height: 64px;
        cursor: grab;
        color: var(--tray-text-color);
        text-align: center;
        font-size: 32px;
        line-height: 40px;
    }

    .top-team-actions, .top-team-actions #nav-team-name, .site-nav {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
        z-index: 0;
        align-items: start;
        gap: 0.5em;
    }

    .top-tabs {
        position: relative;
        margin: 0;
        font-size: calc((960px - 100vw) / 16 + 20px);
        background-color: initial;
        gap: 0.5em;
        backdrop-filter: none;
        padding-top: 32px;
    }

    .top-tabs a, .top-tabs .site-nav .dropdown-trigger button {
        padding: 0;
        line-height: 1.5;
    }

    .top-tabs .site-nav .dropdown-content a {
        padding: 0.5em 1em;
    }

    .top-more-actions a {
        line-height: 2;
        height: auto;
        font-size: calc((960px - 100vw) * 3 / 80 + 18px);
        margin-bottom: calc((960px - 100vw) * 3 / 40 + 12px);
    }

    .top-team-actions {
        margin-left: 0;
    }

    .site-nav {
        margin-right: 0;
        align-items: end;
    }

    .flavor {
        margin-left: calc(100vw - 800px);
        margin-right: calc(100vw - 800px);
    }

    a.main-content-anchor {
        top: calc(4rem - 64px); /* .top-team-actions margin-bottom + h1 margin-top - .tray:after height */
    }
}

@media screen and (max-width: 960px) and (any-hover: hover) {
    .tray:not(:hover) {
        transform: translateY(-100%);
    }

    .tray:focus-within {
        transform: none;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 12px;
    }

    body {
        width: 90vw;
    }

    .tray {
        padding: 2rem calc((100% - 90vw) / 2) 1rem;
    }

    .top-tabs {
        font-size: 30px;
    }

    .top-more-actions a {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .flavor {
        margin-left: 0;
        margin-right: 0;
    }
}

.hunt-icon {
    vertical-align: bottom;
}

.btn .hunt-icon {
    vertical-align: -5px;
}

.list-table {
    min-width: 100%;
    max-width: 100%;
    table-layout: fixed;
}

.list-table th {
    font-family: var(--accent-font);
}

.list-table td, .list-table th {
    padding: 8px 8px;
}

/* .list-table td:first-child, .list-table th:first-child {
    padding-left: 0;
} */

.list-table td {
    word-break: break-word;
    overflow-wrap: anywhere;
    border-color: var(--border-color);
}

@media screen {
    .list-table th {
        border: none;
        position: sticky;
        top: 36px;
        background-color: var(--sticky-bg-color);
        box-shadow: inset 0 -2px 0 0 var(--border-color);
        z-index: 1;
    }
}

@media screen and (max-width: 960px) {
    .list-table th {
        top: 4rem;
    }
}

.stat-table th {
    font-size: 1.75rem;
}

/* 퍼즐 안에 사용되는 표 */
.puzzle-main table {
    font-size: 1.75rem;
    line-height: 2rem;
}

.puzzle-main thead {
    background-color: rgba(var(--dark-accent-rgb), 0.1);
    font-family: var(--accent-font);
}

/* 크로스워드 표 */
.crossword table {
    table-layout: fixed;
}

.crossword td {
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.crossword tr {
    border-bottom: 1px solid #000;
}

.crossword .corner {
    position: absolute; /* 부모(td)를 기준으로 자유롭게 위치 */
    top: -3px;           /* 위에서 px 떨어짐 */
    left: 2px;          /* 왼쪽에서 px 떨어짐 */
    font-size: 50%;  /* 아주 작은 글씨 크기 */
    /* color: #aaa;         배경과 구분되는 연한 회색 */
    font-family: var(--accent-font); /* 굵어짐 */
}

.crossword .blank {
    background-color: #000;
}

.crossword .accent {
    background-color: rgba(var(--dark-accent-rgb), 0.2);
}

.form-section {
    margin: 4rem 0;
}

.form-row, .note {
    background-color: var(--accent-bg-color);
    border-left: 2px solid var(--border-color);
    padding: 1rem 2rem;
    margin: 1rem 0 1rem;
    position: relative;
    font-size: 1.75rem;
}

.form-desc label {
    display: inline;
}

.form-row .delete-row {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2.4rem;
    text-decoration: none;
}

.dynamic-form:only-of-type .delete-row {
    display: none;
}

.info-row {
    display: flex;
    gap: 4%;
}

.info-row > div {
    font-size: 2rem;
    margin-bottom: 2rem;
    flex-grow: 1;
    flex-basis: 0;
}

.no-break {
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid;                /* IE 11 */
    display: table;                     /* Actually FF 20+ */
    width: 100%;
}

.submitted-text {
    font-family: var(--text-font);
    margin: 0;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: anywhere;
}

@media print {
    .story-chunk {
        border-bottom: 1px solid var(--print-border-color);
    }
}

@media screen {
    .story-chunk {
        max-width: 600px;
        margin: 0 auto 3rem;
    }

    .story-chunk a {
        text-decoration: none;
    }
}

.flavor {
    margin-left: 5%;
    margin-right: 5%;
    /* 원래는 둘 다 22.5% 였음 */
    text-align: left;
    font-style: italic;
    font-size: 1.75rem;
    color: #444444;
}

.errorlist {
    padding: 1rem;
    list-style-type: none;
    color: var(--btn-text-color);
    text-shadow: 0 0 10px #ffffff;
    background-color: var(--glow-color);
    /* background-image: linear-gradient(-1deg, rgba(141, 45, 35, 0.8), rgb(194, 42, 25)); */
}

.errorlist li {
    margin-bottom: 0;
    list-style-type: none;
    text-indent: 0;
    padding-left: 0;
    color: #ffffff;
}

.solved-title-marker {
    font-size: 2.4rem;
    color: var(--body-text-color);
}

.solved-title-answer {
    color: #44883c;
    font-family: var(--answer-font);
}

.stat-entry {
    font-weight: bold;
}

.stat-value {
    font-weight: normal;
}

.current-team {
    background-color: rgba(var(--dark-accent-rgb), 0.1);
    font-family: var(--accent-font);
}

/* 아래 코드 추가 */
.meta-stats::before {
  content: "[메타] ";
}

.puzzle-erratum {
    color: #c32;
    margin-bottom: 1rem;
    font-family: var(--accent-font);
}

/* canned hint를 위한 table 표 */
.canned-hint-table {
    width: 100%;
    margin: 1rem 0;
    overflow: hidden; /* 테두리 밖으로 나가는 것 숨김 */
}

.canned-hint-table th, .canned-hint-table td {
    vertical-align: middle;
    border-bottom: none;
    border-top: 1px solid #E1E1E1;
}

.canned-hint-table form {
    margin: 0; /* form 태그의 기본 여백 제거 */
}

/* 요청하는 힌트의 요청내역 표 */
.hint-table {
    width: 100%;
}

.hint-table th, .hint-table td {
    border: none;
    padding: 10px 10px;
}

.hint-table tr:first-child th, .hint-table tr:first-child td, .hint-table td[colspan] {
    padding-top: 12px;
}

.hint-table tr:last-child th, .hint-table tr:last-child td {
    padding-bottom: 12px;
}

.hint-table button {
    margin: 0;
}

.hint-table hr {
    border-color: currentColor;
    opacity: 0.25;
}

.hint-table .submitted-text, .hint-table textarea {
    font-size: 1.5rem;
    line-height: 2rem;
}

.hint-controls {
    margin-bottom: 2rem;
}

.hint-controls > :last-child {
    float: right;
}

.hint-controls form, .hint-controls input {
    margin: 0;
}

.puzzles-list {
    font-size: 2.6rem;
    font-family: var(--accent-font);
    max-width: 900px; /* 전체 너비를 800px로 제한 (이 값을 조절하세요) */
    margin-left: auto; /* 자동 여백으로 중앙 정렬 */
    margin-right: auto; /* 자동 여백으로 중앙 정렬 */
}

.puzzles-list a {
    text-decoration: none;
}

.puzzles-list h1 {
    text-align: left;
    margin: 0;
}

.puzzles-list th {
    border: none;
}

.puzzles-list tbody:not(:first-child) th {
    padding-top: 2em;
}

.puzzles-list td {
    border: none;
    vertical-align: text-bottom;
    word-break: break-word;
    overflow-wrap: anywhere;
    padding: 15px 15px;
}

.puzzles-list td:first-child {
    width: 20rem;
    text-align: right;
}

.puzzles-list td:nth-child(2) {
    text-align: right; /* 리스트에서 퍼즐 제목 정렬 */
    /* min-width: 70px; */
    padding-left: 20px;
    padding-right: 30px;
} 

.puzzles-list td:nth-child(4) {
    width: 0;
    white-space: nowrap;
}

.puzzles-answer {
    width: 20ch;
    max-width: 300px;
    text-align: left; /* 텍스트를 오른쪽으로 정렬 */
}

.puzzles-answer > :first-child {
    padding-bottom: 8px;
    border-bottom: 2px solid var(--border-color);
    font-family: var(--answer-font);
    font-size: 2.2rem; /* 4. 정답 글자 크기 조정 (2.4rem의 80% = 1.92rem) */
    color: #44883c;      /* 5. 정답 글자색을 초록색으로 변경 / #28a745 */
}

/*
원본 puzzles-new
.puzzles-new {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0 0.5rem;
    margin-right: 0.2rem;
    vertical-align: top;
    font-family: var(--accent-font);
    text-transform: uppercase;
}

@media screen {
    .puzzles-new {
        color: var(--btn-text-color);
        background-color: var(--btn-bg-color);
        transition: background-color 0.3s;
    }

    .puzzles-new:hover, a:hover .puzzles-new {
        color: var(--btn-text-color);
        background-color: var(--btn-hover-color);
    }
}
*/

.puzzles-new {
    display: inline-block;
    font-size: 1.5rem; /* 1. 글자 크기 키움 (2.4rem의 60% = 1.44rem) */
    padding: 1px 12px; /* 2. 좌우 여백을 늘려 버튼을 넓게 만듦 */
    margin-right: 0.4rem;
    vertical-align: middle;
    font-family: var(--accent-font);
    text-transform: uppercase;
    border-radius: 6px;
    font-weight: bold;
    background-color: #e7eaf3; /* 3. 이 값을 수정해 배경색 변경 */
    color: #284f9c;      /* 3. 이 값을 수정해 글씨색 변경 */
    transition: background-color 0.3s;
}

a:hover .puzzles-new {
    background-color: #dbe0ef; /* 마우스 올렸을 때 살짝 진하게 */
}

.puzzles-inner {
    font-size: 1.8rem;
}

.puzzles-inner b {
    font-size: 2.0rem;
}

@media screen {
    .spoiler.solved-title-answer {
        display: inline-block;
        min-width: 150px;
        text-align: left;
    }

    .spoiler:not(:hover) {
        background-color: currentColor;
        color: rgb(var(--dark-accent-rgb));
    }
}

.copy-only {
    display: none;
}

.clipboard-button {
    border-radius: 50%;
    bottom: 1.5em;
    box-shadow: .1em .1em .5em var(--info-bg-color);
    font-size: 1.5em;
    height: 2.25em;
    position: fixed !important;
    right: 1.5em;
    width: 2.25em;
    z-index: 100; /* Needed so hover & click work even when button floats outside of its parent. */
}

@media print {
    .clipboard-button {
        display: none;
    }
}

@media screen {
    time[title] {
        text-decoration: underline dotted;
        text-decoration-thickness: 2px; /* 밑줄 두께를 얇게 */
        text-underline-offset: 4px;     /* 밑줄을 아래로 내리기 */  
        cursor: help;
    }
}

.chart {
    width: 100%;
    transform: scaleY(-1);
    margin-bottom: 2.4rem;
    position: relative;
    display: block;
    z-index: -1;
}

.chart-area {
    fill: var(--neutral-color);
    opacity: 0.5;
}

.chart-line {
    stroke: var(--accent-color);
    stroke-width: 0.25%;
    fill: none;
}

@media print {
    .chart {
        display: none;
    }
}

kbd {
    display: inline-block;
    padding: 0 0.25em;
    border: 1px solid var(--primary-200);
    border-radius: 0.25em;
    margin: 0.15em 0.2em;
    background-color: var(--primary-800);
}

footer {
    text-align: center;
    opacity: 0.5;
    font-size: 1.2rem;
    margin-top: 1rem; /* 이 값을 조절해 위쪽 여백을 설정하세요 */
}

footer a {
    text-decoration: none; /* 링크의 밑줄을 제거합니다 */
}

@media print {
    footer {
        display: none;
    }
}

/* 문제 용도의 회전 텍스트 클래스 */
.rotated-text {
    display: inline-block;
    transform: rotate(180deg);
}
