{% extends "solution.html" %}

{% block puzzle-author %}
자갈
{% endblock %}

{% block solution-body-md %}

'암호' 퍼즐에는 다음과 같은 발상이 사용됩니다.  
단어 속에서 사용되는 문자의 순서를 뒤섞는 **애너그램**

첫 문장을 보이는 그대로 읽어보면, 말은 되는 것 같은데 소리가 조금 이상하다고 느낄 수 있습니다.
원래 문장을 최대한 생각해 보면 ‘뜻에 맞도록 주어진 글자를 애너그램 하여라.’가 나올 수 있습니다.
혹은 다른 문장의 특이한 단어들(MBTI, 자일리톨 등)을 고려하여 ‘애너그램’임을 파악할 수도 있습니다.

처음에 주어지는 4개의 단어를 한 번에 맞출 수도 있지만, 아래에 해당하는 단어들의 뜻이 설명된 문장을 보고 맞춰 나갈 수도 있습니다.
이 과정에서 정확한 **애너그램의 규칙**을 발견하게 되는데, “키보드로 한 번에 입력되는 음운 단위는 그대로 유지”되지만, ‘와’의 중성이나 ‘않’의 종성처럼 “따로 입력되는 음운은 재조합이 가능”하다는 점을 깨달을 수 있습니다.

전체적인 해석은 <a href="#appendix">가장 아래의 '해독'</a>을 참고하세요.   

마지막 문장은 ‘변화하지 않았던 음절만 순서에 맞게 배열하라.’입니다.
4개의 단어에서 음절 자체가 위치까지 그대로 유지되는 글자가 있습니다.
각각 <u>&emsp;&emsp;&emsp;레</u>, <u>내&emsp;&emsp;</u>, <u>&emsp;&emsp;모</u>, <u>&emsp;일&emsp;&emsp;</u> 이며, 단어 내에서 위치가 4, 1, 3, 2입니다.
순서에 맞게 배열하면 답인 **내일모레**가 나옵니다.

{% endblock %}

{% block appendix-title %}
해독
{% endblock %}

{% block appendix-md %}

애너그램을 풀어서 해독하면 다음과 같습니다.  

뜻에 맞도록 주어진 글자를 애너그램 하여라.  

내향인, 자일리톨, 바퀴벌레, 학부모  

집에서 가장 만나기 싫은 곤충이자 선생님  
MBTI에서 집에 있어야 충전되는 부류의 사람들  
보호자 자격을 가진 학생의 아버지나 어머니  
충치를 예방하는 효과가 있어 주로 껌에 들어있는 성분  

변화하지 않았던 음절만 순서에 맞게 배열하라.  

{% endblock %}

{% block author-notes-html %}
hi
{% endblock %}



