{% extends "solution.html" %}

{% block puzzle-author %}
자갈
{% endblock %}

{% block solution-body-md %}

'장난' 퍼즐에는 다음과 같은 발상이 사용됩니다.  
말장난, 구체적으로는 영어권에서 워드플레이(wordplay)를 하도록 하는 **크립틱**(cryptic) 단서 체계

플레이버 텍스트에서 강하게 힌트를 주듯, 말장난 단서들을 풀어내야 합니다.
크로스워드의 격자판이 주어지거나 만들 필요는 없고 단서만 해결하면 됩니다.
보통 크립틱 단서들은 워드플레이가 필요하므로, 정답의 글자수를 단서 끝의 괄호 안에 제시해줍니다.
마찬가지로 한글로 말장난을 통해 글자수에 맞는 정답을 찾아내면 됩니다.

크립틱 단서는 다음과 같은 [세가지 원칙](https://en.wikipedia.org/wiki/Cryptic_crossword#History_and_development){:target="_blank"}을 지켜 만들어집니다.  
1. 단어의 직접적인 단서(혹은 정의)가 맨 처음 혹은 맨 끝에 있다.  
2. 적절한 워드플레이를 의미하는 보조 표지가 있다.  
3. 그 외 쓸데없는 것을 최소화한다.  
따라서 먼저 **정의**(definition, or straight)와 **말장난**(cryptic, or wordplay)을 구분하는 것이 큰 도움이 됩니다.

| 단서                                                                                | 정의                | 말장난       | [<u>말장난 종류</u>](https://en.wikipedia.org/wiki/Cryptic_crossword#Types_of_cryptic_clues){:target="_blank"}      | 정답     |
|-------------------------------------------------------------------------------------|---------------------|-----------------------------------------------------------------------------------------|-----------------------------|----------|
| 우리나라 말에서 수사를 뺀 교과목 (2)                                                | 교과목              | 한국어 - 한                                                                             | Deletions                   | 국어     |
| 팬미팅에서는 박수의 첫머리를 잘라내고 회를 뜬다. (3)                           | 팬미팅                 | 박수 - ㅂ + 회                                                                          | Deletions                    | 악수회   |
| 불가능할 것이라 생각했던 것이 실제로 벌어질 때 들려오는 소리를 흡수하는 것 (3)      | 흡수하는 것         | 기적(이야) -[소리]-> 기저귀                                                             | Homophones                  | 기저귀   |
| 내 마음 속 깊은 뜻을 의심하는 장미를 흔든다. (4)                                    | 내 마음 속 깊은 뜻  | 의심 + 장미 -[흔든다]-> 의미심장                                                        | Anagrams                    | 의미심장 |
| 소금 간 이 쉬운걸 들은대로 못해서 지금 요리에 더 채우는 거야? (3)                      | 요리에 더 채우는 거 | 간 이 쉬 -[들은대로]-> 가니쉬                                                           | Homophones                  | 가니쉬   |
| 없는 것을 바랄 불이 없다. (3)                                                       | 없는 것을 바랄      | 불이 없다 -> 부럽다                                                                     | Homophones                  | 부럽다   |
| 너 자신의 한계에 맞게 물줄기를 나누라. (2)                                          | 자신의 한계         | 물줄기, 나누라                                                                          | Double definition           | 분수     |
| 아랫사람이 과학수사의 기초 덕에 장수 (4)                                         | 장수                | 을 (아랫사람) + 지문 (과학수사의 기초) + 덕                                          | Charade                         | 을지문덕 |
| 흔들거리는 눈처럼 희고 진한 국물요리에 소음기를 장착하고 음양을 뒤집는다. (2)             | 흔들거리는          | 설렁탕 -[소음기]-> 설렁 -[음양을 뒤집는다]-> 살랑                                   | -                        | 살랑     |
| 교실의 두 명에게서 느껴지는 트로트의 강한 리듬 (2)                                  | 교실의 두 명        | 꿍*짝 꿍*짝                                                                              | -                         | 짝꿍     |
| 전통적인 기계로 베이스의 틀어짐을 처음부터 확인한다. (2)                            | 전통적인 기계       | 베이스의 틀어짐 -[처음부터 확인]-> 베틀                                                 | Acrostics (Initial letters) | 베틀     |
| 누가 어디서 보든 제주의 어머니 (2)                                                  | 제주의 어머니       | [누가 어디서 보든] ㅇㅓㅁㅓㅇ                                                           | Palindrome                  | 어멍     |
| 그림 속의 물구나무 선 곰과 초월자 (2)                                                   | 그림                | 곰 -[물구나무]-> 문 + 신                                                             | Ambigram                   | 문신     |
| 이중슬릿 직전에 거쳐야 하는 것의 가장 오른쪽과 가장 아래쪽을 자른 확률형 아이템 (3) | 확률형 아이템       | 단일슬릿 -[오른쪽 자른]-> 단일슬 -[아래쪽 자른]-> 다이스                                | -                         | 다이스   |
| ( '덤 사본'만 사용해서 연역적으로 추리하라. (4) )                               | 연역적으로 추리    | ‘ㄴㄷㅁㅂㅅㅏㅓㅗ’-[만 사용]-> 삼단논법                                                      | Letter banks                        | 삼단논법   |

위에서부터 차례로 정답의 첫 글자를 읽으면 **국악기의가부분을살짝베어문다삼**이라는 문구가 나옵니다.
가장 마지막의 글자는 단서 채로 괄호안에 있었으므로, 괄호를 씌워주면 또 하나의 말장난 단서로 생각할 수 있습니다.
“국악기의 가 부분을 살짝 베어문다. (3)”의 정답을 찾으면 됩니다.
따라서 정답은 **가야금**입니다.

{% endblock %}

{% block author-notes-html %}
hi
{% endblock %}
