{% extends "solution.html" %}

{% block puzzle-author %}
자갈
{% endblock %}

{% block solution-body-md %}

'복제' 퍼즐에는 다음과 같은 발상이 사용됩니다.  
어떤 글자는 그 글자 자체로 뜻이 있고, 글자가 두 번 반복하여 만든 단어에도 뜻이 있습니다.
(**글자의 중복**)

퍼즐의 단서는 가운데에 /가 있는데, 한 글자 단어와 두 글자 단어를 각각 유추할 수 있는 단서를 구분하고 있습니다.
단서에 맞는 특정한 글자와, 그 글자가 중복된 단어를 찾아냅니다.

| 글자 | 첫 번째 단서                                  | 비고                                       | 복제 | 두 번째 단서                                 | 비고        |
|----|-----------------------------------------------|--------------------------------------------|---------|----------------------------------------------|-------------|
| 답   | 구해내야 한다.                                |                                            | 답답 | 꽉 막혀있다.                                 |             |
| 은   | 귀한 금속                                     |                                            | 은은 | 좋은 향기                                    |             |
| 시   | 심오하고 울림있다.                            | 문학                                       | 시시 | 지루하고 볼 것 없다.                         |             |
| 공   | 안에 아무것도 없는 상태                       | 空 (빌 공)                                 | 공공 | 모두 다같이 쓰는 상태                        |             |
| 기   | 오라                                          | Aura                                       | 기기 | 기계                                         |             |
| 하   | 웃으면 반복적으로 나오는 말                   |                                            | 하하 | 그런 웃음을 주는 사람                        | 연예인      |
| 영   | 억의 89%                                      | 숫자 1억(100,000,000)은 영(0)이 8개입니다. | 영영 | 억겁                                         |             |
| 토   | 아마도 각종 업무를 5일간 헤쳐나가며 도달한다. | 주중 5일을 마치고 난 후 토요일             | 토토 | 아마도 각종 스포츠를 분석하여 이윤을 남긴다. | 스포츠 토토 |

위에서부터 차례로 글자를 찾아나가면 **답은 시공기하 영토**라는 답이 나옵니다.  

{% endblock %}

{% block author-notes-html %}

사실 '복제'가 이번 퍼즐헌트 문제 중에서 가장 오래된 문제입니다.
아이디어는 거의 1년 전에 생각해 두었고, 텍스트 양이 조금 많아서 언제 사용할지 기다리고 있던 문제였습니다.
어떻게 보면 이 문제 덕분에 '텍스트'만 가지고 진행할 수 있는 퍼즐헌트를 만들겠다는 아이디어가 탄생했을지도 모릅니다.
<br>
원래 생각해 두었던 문제는 같은 아이디어지만, 더 긴 문자열을 추출했어야 합니다.
답도 정해두었는데, 그 답으로 메타문제를 만들 생각을 하니 너무 어렵더라고요.
<br>
어차피 퍼즐헌트를 처음 하는 사람도 풀 수 있도록 난이도를 낮추려면 10글자 이하로 추출하는 것도 좋아보여 이렇게 만들었습니다.
<br><br>
한 글자 단어는 생각보다 동음의의어가 많더라고요.
여러 뜻을 한 번에 던져줄까 하다가, 어차피 복제된 단어의 단서도 있으니 하나의 뜻만 사용하기로 했습니다.
<br>
반면 두 글자 단어는 의성어/의태어가 많았고, 특정한 상황에서 쓰여서 더 쉬운 단서가 되었습니다.
그래서 공공이나 토토의 단서를 작성할 때 조금 애를 먹었습니다.
퍼즐을 풀 때에도 글자가 중복된다는 사실만 깨달으면 나머지 글자를 추출할 때에도 두 번째 단서가 더 용이했을거라 추측합니다.
<br>
마지막으로 제작할 때에는 두 단서가 서로 형식이 비슷하도록 신경썼습니다.
대칭이면... 예쁘잖아요?
덕분에 '영'의 단서와 같은 재밌는 아이디어도 떠올릴 수 있었습니다.

{% endblock %}
