{% extends "solution.html" %}

{% block puzzle-author %}
자갈
{% endblock %}

{% block solution-body-md %}

'초안' 퍼즐에는 다음과 같은 발상이 사용됩니다.  
/로 이어진 두 단어를 **분류**하고 모아서, 두 개의 단서를 완성합니다.  
추가로 육하원칙을 사용하여 단어들을 알맞은 순서로 배열합니다.  

‘초안’ 퍼즐은 메타 문제로, 이전 퍼즐들의 정답이 사용됩니다.  
‘이/가, 에서/에서, 을/를’ 앞에 있는 빈칸에 적절한 정답을 집어넣어야 합니다.
이전 정답들을 각 조사와 연관 지어 생각해 보면, **누가, 어디서, 무엇을**에 2개씩 대응한다는 점을 발견할 수 있습니다.
한편, **언제**에 대응하는 정답인 ‘내일모레’는 중간을 기준으로 나누면 각각 ‘내일’과 ‘모레’의 두 단어로 사용할 수 있습니다.

육하원칙의 **어떻게, 왜**에 해당하는 내용은 나열된 단서를 바탕으로 말이 되도록 구성해야 합니다.
문장이 끝나는 단어가 2개 있고, 그중 하나는 ‘위해서.’이므로 순서를 쉽게 유추할 수 있습니다.
정답을 사용해 만든 구절과 맥락이 이어지게 구성하면, ‘내일’과 ‘모레’의 위치 등을 확정 지을 수 있습니다.

| 육하원칙 | 단서 1      | [ ] | 단서 2          | [ ] |
|----------|-------------|-----|-----------------|-----|
| 누가     | 목공        |     | 미로의 수다쟁이 |     |
|          | 이          |     | 가              |     |
| 언제     | 내일        |     | 모레            |     |
| 어디서   | 누나 월세방 |     | 시공기하 영토   |     |
|          | 에서        |     | 에서            |     |
| 무엇을   | 칸만화      |     | 가야금          |     |
|          | 를          |     | 을              |     |
| 어떻게   | 몰두해      | 물  | 배우며          | 나  |
|          | 그릴        | 음  | 연주하기로      | 가  |
|          | 것이다.     | 표  | 했다.           | 나  |
| 왜       | 비좁은      | 다  | 다음날은        | 온  |
|          | 곳임에도    | 음  | 흐리고          | 문  |
|          | 젋은        | 의  | 화창할          | 장  |
|          | 날의        | 2   | 때              | 속  |
|          | 거대한      | 번  | 미로의          | 4   |
|          | 꿈을        | 째  | 아름다움을      | 번  |
|          | 이루기      | 글  | 전파하기        | 글  |
|          | 위해서.     | 자  | 위해서.         | 자  |

대괄호 안의 글자를 순서대로 읽었을 때 새로운 단서로 **물음표다음의2번째글자**와 **나가나온문장속4번글자**가 나옵니다.
이 퍼즐헌트에서 물음표가 있는 곳은 각 퍼즐의 **플레이버 텍스트**이므로, 여기서 글자들을 추출합니다.

**물음표 다음의 2번째 글자**가 나오는 문장에 사용된 퍼즐들은 ‘회전, 암호, 숫자, 삼체’입니다.  
<p class="flavor" style="text-align: center;">
…나는 누구지? 설<b>마</b> 그걸 잊어버렸겠어…  <br>
…해석할 수 있을까? 처<b>음</b> 보는 단어라서…  <br>
…어디라는 거야? 밖<b>에</b> 있어서…  <br>
…정리하고 있는 건 뭘까? 도<b>와</b>주려면…  <br>  
</p>

**‘나’가 나온 문장 속 4번 글자**가 나오는 문장에 사용된 퍼즐들은 ‘미로, 암호, 복제, 가치’입니다.  
<p class="flavor"  style="text-align: center;">
…벽이 잇<b>닿</b>아 있는… …어디 없나?  <br>
…처음 보<b>는</b> 단어라서 하나도 모르겠다…  <br>
아직도 <b>구</b>름이랑 나무가 여러 개로 보이네…  <br>
…물론 조<b>절</b>을 잘 해낸다면… …느낌이 나기도 해…  <br>
</p>

추출한 글자들을 말이 되는 순서로 이어 붙이면 정답은 **마음에 와닿는 구절**입니다.



{% endblock %}

{% block author-notes-html %}

원래는 7개의 퍼즐과 ‘달력’ 메타퍼즐로 텍스트 퍼즐헌트를 마무리 지으려 했습니다. 하지만 퍼즐들의 플레이버 텍스트를 작성하면서, 물음표를 넣어놓다 보니 <b>육하원칙 아이디어</b>를 떠올리게 되었습니다. 7개의 정답을 육하원칙에 맞게 분류하면 딱 두 개씩 깔끔하게 떨어졌고, ‘내일모레’도 만들 때부터 내일+모레로 나뉠 수 있는 기믹을 사용하고 싶었기에 퍼즐을 만들기로 했습니다.
<br><br>
문제점은 육하원칙의 뒷부분인 <b>어떻게, 왜</b>를 활용할 방안이 떠오르지 않았다는 점입니다. 7개의 정답은 이미 정해져 있었고, 어떻게, 왜는 한 단어로 제시하기 힘든 내용이니까요. 게다가 <b>누가, 언제, 어디서, 무엇을</b>도 그리 개연성이 있는 내용은 아니었습니다. 이 지점에서 차라리 개연성 있게 문장을 구성하는 것을 퍼즐의 요소로 사용하자는 생각에 도달했습니다.
<br>
하지만 단어를 자유롭게 배열하게 되면 가능한 조합이 너무 많아지므로, 육하원칙 문장에서 같은 위치에 들어가는 두 단어를 묶어서 제시하는 아이디어도 사용하게 되었습니다. 이러한 <b>분류</b> 발상은 <a href="https://mrrheehunt.net/index" target="_blank">미스터리 퍼즐헌트</a>에서 많은 영감을 받았던 것 같습니다. 자세한 사항은 스포일러가 되므로, 직접 즐겨보시길 바랍니다.
<br><br>
정답 추출에 있어서는 그냥 올바른 문장을 완성하고 대괄호 안의 글자만 읽으면 정답이 나오게 할 수 있었지만, 재미가 없을 것 같고 추론하기 쉬워서 한 단계를 더 넣고 싶었습니다. 마침 플레이버 텍스트를 작성하는 중이었기에, 여기에서 한 글자씩 뽑아내자는 생각을 했습니다. 돌이켜 생각해 보면 이때 그만두어야 했습니다.
<br>
이 이후에 플레이버 텍스트와 스토리를 큰 폭으로 수정하게 되었습니다. 앞의 7가지의 퍼즐에서 보이는 표면적인 스토리라인은 모두 이 퍼즐에서 육하원칙을 바르게 배열하는 개연성을 주기 위해 사용됩니다. 메타 문제에 있는 플레이버 텍스트는, <b>우리가 소설을 쓰는 작가</b>라는 사실을 암시합니다. 이런 스토리를 배경으로 하여 이 퍼즐의 제목이 ‘<b>초안</b>’이 되었습니다.
<br>
이 퍼즐에서 정리된 두 가지의 이야기는 각각 “목공이 누나네 집에서 만화가의 꿈을 이루다.”와 “미로가 있는 시공기하 영토에서 수다쟁이를 만나다.”이며, 플레이버 텍스트를 문제에서 배열된 순서대로 모아서 보았을 때 연관성이 있게끔 만들었습니다. (그래도 스토리를 정확히 모르겠다면… 그 부분은 여러분께 맡기겠습니다.)
<br><br>
플레이버 텍스트로 정답을 추출하도록 만드는 것은 생각보다 쉬웠습니다. 첫 글자로 시작해야 하는 것만 아니면, 단어를 훨씬 자유롭게 조절할 수 있었습니다. 둘 다 물음표 근처에서 찾는 거라면 제한조건이 많고 알아챌 것 같기도 해서, 특정 글자인 ‘나’가 포함된 문장에서 인덱싱하는 것으로 바꿨습니다. 7개의 정답을 올바르게 배열하지 않은 채로 대괄호 안의 글자만 조합하여 풀지 못하도록, 모든 플레이버 텍스트에 물음표와 ‘나’가 들어가 있습니다.
<br><br>
보통은 메타퍼즐에 사용할 답들을 정한 후, 그 답이 나오는 퍼즐을 만들게 됩니다. 역으로 이미 정해진 답 7개를 가지고 메타퍼즐을 만들어내는 경험은 이번이 처음인데, 다시 생각해도 괜찮은 퀄리티의 메타퍼즐이 만들어져서 다행이라고 생각합니다. 그러면서 덕분에 텍스트 퍼즐헌트 전체의 스토리도 손볼 수 있어서 마음에 드는 퍼즐입니다.
<br><br>

{% endblock %}
