{% extends "solution.html" %}

{% block puzzle-author %}
자갈
{% endblock %}

{% block solution-body-md %}

'미로' 퍼즐에는 다음과 같은 발상이 사용됩니다.  
가로와 세로 단서가 있는 십자말풀이 혹은 **크로스워드**

가로와 세로 단서를 보고 크로스워드를 생각할 수 있습니다.
퍼즐에는 크로스워드의 격자판이 없으므로, 직접 단어를 조합하여 격자판을 만들어야 합니다.
따라서 각 단서가 의미하는 단어를 찾는 것이 첫 단계가 됩니다.
다만 격자판이 없어 글자 수를 추측하기 어려운데, 이를 위해 모든 단서마다 괄호 안에 글자 수가 지정되어 있습니다.

|  # | 가로                                               | 가로 답      |  # | 세로                                                    | 세로 답             |
|---:|----------------------------------------------------|--------------|---:|---------------------------------------------------------|---------------------|
|  1 | 가장 높은 봉우리                                   | 최고봉       |  1 | 이 퍼즐의 답을 얻기 위해 살펴봐야할 위치 (2 2 3 2)          | ???                 |
|  3 | 결정장애                                           | 우유부단     |  2 | 문서를 담기 위해 종이로 만든 주머니                       | 봉투                |
|  4 | 네즈코의 오빠                                      | 탄지로       |  3 | 비와 이슬                                               | 우로                |
|  5 | 범죄 현장에서 사회 질서를 유지하는 사람            | 경찰         |  4 | 국회에서 고위 공무원의 잘못에 대해 공소를 제기하는 안건 | 탄핵소추안          |
|  6 | 지구 중심부 근처                                   | 내핵         |  7 | 깨어 있는 상태에서 인식하는 작용                        | 의식                |
|  7 | 예상한 것과 다르게                                 | 의외로       |  8 | 이 퍼즐에서의 시작                                      | 출발                |
|  9 | 계산할 것이나 꾸미는 것                            | 수식         |  9 | 여러 색실을 사용한 것 처럼 아름다운 경치를 이루다.      | 수놓다              |
| 10 | 단어가 새로운 뜻을 얻는 것                         | 의미발달     | 11 | 열기로 뜨거워지다.                                      | 달아오르다          |
| 12 | 김치의 주 재료                                     | 배추         | 15 | 라이벌 등의 사람                                        | 경쟁자              |
| 13 | 앤디, 혹은 관광취업                                | 워홀         | 18 | 비행기의 세로 8번과 가로 22번                           | 이착륙              |
| 14 | 안경에서 귀에 거는 부분                            | 안경다리     | 19 | 인공 케이싱에 고기가 들어간 식품                        | 소시지              |
| 16 | 민다나오섬 북쪽 끝의 항구도시                      | 수리가오     | 21 | 유명한 포도주 산지                                      | 보르도              |
| 17 | 교실에서 돌아가며 맡는 직책의 통칭                 | 당번         | 23 | 알맞은 시절                                             | 제철                |
| 18 | 돈을 빌려준 대가로 받는 수입. 세금도 매길 수 있다. | 이자소득     |    |                                                         |                     |
| 20 | 매서운 눈초리로 노려보다.                          | 째려보다     |    |                                                         |                     |
| 22 | 이 퍼즐에서의 끝                                   | 도착         |    |                                                         |                     |
| 24 | 도시마다 대중교통의 정차역들이 그려진 그림         | 지하철노선도 |    |                                                         |                     |

세로 1번 단서는 현재 단계에서 찾아낼 수 없고, 격자판을 완성한 뒤에 찾을 수 있습니다.
가로 22번과 세로 8번은 각각 '**이 퍼즐**에서의 시작과 끝'입니다.
퍼즐의 제목이 **미로**임을 고려한다면 두 단서에 해당하는 단어를 추측할 수 있습니다.

그다음으로는 격자판을 구성합니다.
영문 크로스워드에는 단서의 번호는 격자판의 왼쪽 위부터 오른쪽 아래로 읽어 나갈 때의 순서대로 쓰여 있습니다.
이러한 규칙과 단어 간에 겹쳐 나오는 음절, 그리고 세로 1번의 정답을 고려하면 충분히 격자판을 만들 수 있습니다.

<table class="crossword">
    <tbody>
        <tr>
            <td class="blank"></td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td>최<span class="corner">1</span></td>
            <td>고</td>
            <td>봉<span class="corner">2</span></td>
            <td class="blank"></td>
        </tr>
        <tr>
            <td class="blank"></td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td>우<span class="corner">3</span></td>
            <td>유</td>
            <td>부</td>
            <td>단</td>
            <td class="blank"></td>
            <td>투</td>
            <td class="blank"></td>
        </tr>
        <tr>
            <td class="blank"></td>
            <td>탄<span class="corner">4</span></td>
            <td>지</td>
            <td>로</td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td>경<span class="corner">5</span></td>
            <td>찰</td>
            <td class="blank"></td>
            <td class="blank"></td>
        </tr>
        <tr>
            <td>내<span class="corner">6</span></td>
            <td>핵</td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td>의<span class="corner">7</span></td>
            <td>외</td>
            <td>로</td>
            <td class="blank"></td>
            <td>출<span class="corner">8</span></td>
            <td class="blank"></td>
        </tr>
        <tr>
            <td class="blank"></td>
            <td>소</td>
            <td class="blank"></td>
            <td>수<span class="corner">9</span></td>
            <td>식</td>
            <td class="blank"></td>
            <td>의<span class="corner">10</span></td>
            <td>미</td>
            <td>발</td>
            <td>달<span class="corner">11</span></td>
        </tr>
        <tr>
            <td>배<span class="corner">12</span></td>
            <td>추</td>
            <td class="blank"></td>
            <td>놓</td>
            <td class="blank"></td>
            <td>워<span class="corner">13</span></td>
            <td>홀</td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td>아</td>
        </tr>
        <tr>
            <td class="blank"></td>
            <td>안<span class="corner">14</span></td>
            <td>경<span class="corner">15</span></td>
            <td>다</td>
            <td>리</td>
            <td class="blank"></td>
            <td>수<span class="corner">16</span></td>
            <td>리</td>
            <td>가</td>
            <td>오</td>
        </tr>
        <tr>
            <td class="blank"></td>
            <td class="blank"></td>
            <td>쟁</td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td>당<span class="corner">17</span></td>
            <td>번</td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td>르</td>
        </tr>
        <tr>
            <td class="blank"></td>
            <td>이<span class="corner">18</span></td>
            <td>자</td>
            <td>소<span class="corner">19</span></td>
            <td>득</td>
            <td class="blank"></td>
            <td>째<span class="corner">20</span></td>
            <td>려</td>
            <td>보<span class="corner">21</span></td>
            <td>다</td>
        </tr>
        <tr>
            <td>도<span class="corner">22</span></td>
            <td>착</td>
            <td class="blank"></td>
            <td>시</td>
            <td class="blank"></td>
            <td>제<span class="corner">23</span></td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td>르</td>
            <td class="blank"></td>
        </tr>
        <tr>
            <td class="blank"></td>
            <td>륙</td>
            <td class="blank"></td>
            <td>지<span class="corner">24</span></td>
            <td>하</td>
            <td>철</td>
            <td>노</td>
            <td>선</td>
            <td>도</td>
            <td class="blank"></td>
        </tr>
    </tbody>
</table>

격자판을 완성하면 세로 1번의 답이 ‘**최단 경로의 홀수 번째**’라는 것을 알 수 있습니다.
이는 세로 1번의 단서가 말해주듯 ‘이 퍼즐의 답을 얻기 위해 살펴봐야 할 위치’에 해당합니다.
이 퍼즐에는 ‘출발’과 ‘도착’이 있으므로, 이 둘을 잇는 ‘최단 경로’를 그릴 수 있습니다.

<table class="crossword">
    <tbody>
        <tr>
            <td class="blank"></td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td>최<span class="corner">1</span></td>
            <td>고</td>
            <td>봉<span class="corner">2</span></td>
            <td class="blank"></td>
        </tr>
        <tr>
            <td class="blank"></td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td>우<span class="corner">3</span></td>
            <td>유</td>
            <td>부</td>
            <td>단</td>
            <td class="blank"></td>
            <td>투</td>
            <td class="blank"></td>
        </tr>
        <tr>
            <td class="blank"></td>
            <td>탄<span class="corner">4</span></td>
            <td>지</td>
            <td>로</td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td>경<span class="corner">5</span></td>
            <td>찰</td>
            <td class="blank"></td>
            <td class="blank"></td>
        </tr>
        <tr>
            <td>내<span class="corner">6</span></td>
            <td>핵</td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td class="accent"><strong>의</strong><span class="corner">7</span></td>
            <td class="accent">외</td>
            <td class="accent"><strong>로</strong></td>
            <td class="blank"></td>
            <td class="accent">출<span class="corner">8</span></td>
            <td class="blank"></td>
        </tr>
        <tr>
            <td class="blank"></td>
            <td>소</td>
            <td class="blank"></td>
            <td class="accent"><strong>수</strong><span class="corner">9</span></td>
            <td class="accent">식</td>
            <td class="blank"></td>
            <td class="accent">의<span class="corner">10</span></td>
            <td class="accent"><strong>미</strong></td>
            <td class="accent">발</td>
            <td>달<span class="corner">11</span></td>
        </tr>
        <tr>
            <td>배<span class="corner">12</span></td>
            <td>추</td>
            <td class="blank"></td>
            <td class="accent">놓</td>
            <td class="blank"></td>
            <td>워<span class="corner">13</span></td>
            <td>홀</td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td>아</td>
        </tr>
        <tr>
            <td class="blank"></td>
            <td>안<span class="corner">14</span></td>
            <td class="accent">경<span class="corner">15</span></td>
            <td class="accent"><strong>다</strong></td>
            <td>리</td>
            <td class="blank"></td>
            <td>수<span class="corner">16</span></td>
            <td>리</td>
            <td>가</td>
            <td>오</td>
        </tr>
        <tr>
            <td class="blank"></td>
            <td class="blank"></td>
            <td class="accent"><strong>쟁</strong></td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td>당<span class="corner">17</span></td>
            <td>번</td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td>르</td>
        </tr>
        <tr>
            <td class="blank"></td>
            <td class="accent"><strong>이</strong><span class="corner">18</span></td>
            <td class="accent">자</td>
            <td>소<span class="corner">19</span></td>
            <td>득</td>
            <td class="blank"></td>
            <td>째<span class="corner">20</span></td>
            <td>려</td>
            <td>보<span class="corner">21</span></td>
            <td>다</td>
        </tr>
        <tr>
            <td class="accent">도<span class="corner">22</span></td>
            <td class="accent">착</td>
            <td class="blank"></td>
            <td>시</td>
            <td class="blank"></td>
            <td>제<span class="corner">23</span></td>
            <td class="blank"></td>
            <td class="blank"></td>
            <td>르</td>
            <td class="blank"></td>
        </tr>
        <tr>
            <td class="blank"></td>
            <td>륙</td>
            <td class="blank"></td>
            <td>지<span class="corner">24</span></td>
            <td>하</td>
            <td>철</td>
            <td>노</td>
            <td>선</td>
            <td>도</td>
            <td class="blank"></td>
        </tr>
    </tbody>
</table>

이후 최단 경로에서 ‘홀수 번째’ 글자만 찾아 읽는다면 **미로의 수다쟁이**가 답으로 추출됩니다.

{% endblock %}

{% block author-notes-html %}

제가 퍼즐헌트를 처음 접하면서 큰 충격을 받은 것 중 하나가 <a href="https://ko.wikipedia.org/wiki/%EC%8B%AD%EC%9E%90%EB%A7%90#%EB%8B%A4%EC%9D%B4%EC%96%B4%EA%B7%B8%EB%9E%A8_%EC%97%86%EB%8A%94_%EC%8B%AD%EC%9E%90%EB%A7%90" target="_blank">Diagramless crosswords</a>입니다. 판이 없는 십자말풀이를 어떻게 풀지 막막했는데, 퍼즐을 많이 풀어본 팀원이 우선 단서 먼저 슥슥 풀며 답을 적더니 겹치는 글자를 적어 풀어내더군요.
<br>
한국어 십자말풀이는 항상 단어가 짧고, 겹치는 글자가 없다는 단점이 있습니다. 오히려 Diagramless crosswords에서는 겹치는 글자가 많이 없어 큰 이점으로 남을 것 같았습니다. 그래서 단서만 던져주고도 풀 수 있을거라 생각했습니다.
<br><br>
하지만 문제를 만들고 보니 생각보다 어렵더라고요. 가장 긴 글자수를 가진 답을 숨겨버리려니까 역추적이 힘들었습니다. 한국어 특성 상 이어진 칸이 없다면 해당 칸에 들어갈 글자가 무수히 많아져서, 숨겨진 단어를 역추적 하는 것은 한국어 십자말풀이에 그리 어울리지 않다고 느꼈습니다.
<br>
그리고 단서의 번호를 알아도, 그리드가 전통적인 crossword처럼 회전대칭인게 아니라서 풀이 어려웠습니다. 그래서 단서를 더 추가하고 가로 세로 칸수를 10X11로 알려주는 것으로 난이도를 하향조정했습니다.
<br><br>
테스트플레이 때에는 제가 전혀 고려하지 못한 barred crossword로 해결하고자 하는 플레이어도 있습니다. 공교롭게도 플레이버 텍스트도 “윤곽”을 강조하여 매몰되면 나오기 쉽지 않은 것 같습니다. 그래서 “윤곽” 힌트에서 blocked crossword라는 단서를 남겼습니다.
<br>
워낙 변종이 많은 십자말풀이기에 이미지 형식의 가이드의 필요성을 느끼게 된 문제였던 것 같습니다.

{% endblock %}
