{% extends "solution.html" %}

{% block puzzle-author %}
자갈
{% endblock %}

{% block solution-body-md %}

'숫자' 퍼즐에는 다음과 같은 발상이 사용됩니다.  
영어의 A1Z26처럼, 숫자에 한글의 기본 자모를 대응시켜 변환합니다. (**기역1이24**)  
추가로 키보드의 같은 키에 할당된 한글 자모와 영어 알파벳을 대응시켜 변환합니다.  

문장을 잘 살펴보면, d, l, k, f, s, h 알파벳이 비정상적으로 많이 반복되는 것을 볼 수 있습니다.
이는 모두 키보드의 가운데 줄로, 한글을 타이핑할 때 자주 사용하는 키에 할당되어 있습니다.
키보드에 같은 키로 대응되는 한글을 읽어보면 글을 해석할 수 있습니다.

글을 읽어보면 숫자를 보내줄테니 ‘**기역1이24**’를 통해 한글로 번역하라고 지시합니다.
그러면서 정작 숫자는 한국어로 읽히는 대로, 대응하는 영어로 타이핑했다고 밝힙니다.
따라서 가운데에 있는 영문을 한글로 바꾼 후, 그게 의미하는 숫자를 한글로 다시 번역해야 합니다.
예시로는 ‘기역’이 1-24 8-18-1이여서 ‘일이십사 팔십팔일’로 번역된다고 알려주므로, 그 역과정을 진행하면 됩니다.

가운데 문장을 해석하면 ‘꿈을 위해선 언제든지 누나 월세방 으로 와도 괜찮아.’라는 문구가 나옵니다.
글의 내용 상 누나가 남동생을 위해 마련한 장소를 찾아내야 하므로, **누나 월세방**이 답이 됩니다.

{% endblock %}

{% block author-notes-html %}
hi
{% endblock %}

{% block appendix-title %}
해독
{% endblock %}

{% block appendix-md %}

으악! 키보드가 고장났어! 영어로만 써지고 한글이랑 숫자도 입력이 안되네.  
어떡하지? 이 누나가 너를 위해 마련한 곳을 알려줘야 하는데, 난 영어를 못한단 말이야.  
어쩔 수 없지. 기역1이24로 알려줄게. 한글의 기본자모를 순서대로 나열해서 숫자와 대응한 거야.  
예를 들면, 기역은 1-24 8-18-1 인거지. 이러면 이 글을 이해하지 못해도 알아볼 수 있을거야!!  

1-1-21-5 8-23-4 띄고 8-21-24 14-15-24 7-17-2 띄고 8-17-2 9-17-24 3-23-2 9-24 띄고  2-21 2-15 띄고 8-21-17-4 7-17-24 6-15-8 띄고 8-23 4-19 띄고 8-19-15 3-19 띄고 1-19-15-24-2 10-15-2-14 8-15.  
(꿈을 위해선 언제든지 누나 월세방 으로 와도 괜찮아.)  

그러고보니 내가 숫자도 고장난 채로 적었구나. 이 글을 이해할 수 있으려나…?  
뭐, 너는 머리가 좋으니 다 읽겠지! 화이팅!  

엄마 아들에게.  
아빠 딸 보냄.  

{% endblock %}
