{% extends "solution.html" %}

{% block puzzle-author %}
자갈
{% endblock %}

{% block solution-body-md %}

<style>
    u {
        text-underline-offset: 4px; /* 원하는 간격으로 조절 (예: 3px) */
        /* 밑줄이 너무 얇다면 두께도 조절할 수 있습니다 */
        text-decoration-thickness: 0.5px;
    }
</style>

'회전' 퍼즐에는 다음과 같은 발상이 사용됩니다.  
어떤 문자는 **180도 회전**하여 거꾸로 봤을 때, 다른 문자로 보이기도 합니다.  

퍼즐의 글은 괄호 안에 있을 때마다 180도가 뒤집혀져 있습니다.
밑줄을 그어서 뒤집어진 부분을 판단하면 다음과 같습니다.  

<span class="rotated-text">( <u>‘능력과 관련된 단어인 <span class="rotated-text">( <u>'<span class="rotated-text">( <u>시계의 <span class="rotated-text">( <u>IIX</u> )</span> 이전 숫자와 <span class="rotated-text">( <u>5</u> )</span>를 이어붙인 영어</u> )</span> - <span class="rotated-text">( <span class="rotated-text">( <u>BL - h ÷ BEE + h ÷ OI</u> )</span> )</span>'의 한국어</u> )</span>'과 <br>'사람과 관련된, <span class="rotated-text">( <u>영어로 하면 '<span class="rotated-text">( <u>9 ÷ 6 - 2 ÷ 5</u> )</span>' 과 비슷한 단위</u> )</span>을 그대로 한국어로 읽은 단어'을 <br>이어붙인 단어</u> )</span></u>

괄호 안의 설명대로 따르기 위해선 괄호 안의 내용물을 뒤집어 올바른 상태로 만든 후 해석해야 합니다.  
예를 들어 IIX는 사용하지 않는 표기이므로, (IIX)를 뒤집어서 같은 모양의 XII로 생각합니다. 또 5는 영어로 이어붙일 수 없으므로, (5)를 뒤집어서 비슷한 모양의 S로 생각합니다.  
한 단계씩 괄호를 풀어 나가면 정답을 알 수 있습니다.  

| 부분      | 해석     | 결과 |
|-----------|----------|------|
| 시계의 <span class="rotated-text">( <u >IIX</u> )</span> 이전 숫자와 <span class="rotated-text">( <u>5</u> )</span>를 이어붙인 영어 | 시계의 **XII** 이전 숫자와 **S**를 이어붙인 영어 | XIS |
| <span class="rotated-text">( <u>BL - h ÷ BEE + h ÷ OI</u> )</span> | **10 ÷ 4 + 338 ÷ 4 - 78** |  9  |
| '<span class="rotated-text">( <u>XIS</u> )</span> - <span class="rotated-text">( <u>9</u> )</span>'의 한국어 |  '**SIX** - **6**'의 한국어  |  공  |
| 영어로 하면 '<span class="rotated-text">( <u>9 ÷ 6 - 2 ÷ 5</u> )</span>' 과 비슷한 단위 |  영어로 하면 '**5 ÷ 2 - 9 ÷ 6**' 과 비슷한 단위<br>= 영어로 하면 '**1**' 과 비슷한 단위  |   WON   |
| ‘능력과 관련된 단어인 <span class="rotated-text">( <u>공</u> )</span>'과 '사람과 관련된, <br> <span class="rotated-text">( <u>WON</u> )</span>을 그대로 한국어로 읽은 단어'을 이어붙인 단어  | '**운**'과 '**놈**'을 이어붙인 단어 |  운놈  |

마지막의 '운놈'은 괄호 안에 들어가 있으므로, 이를 거꾸로 한 **목공**이 정답입니다.

{% endblock %}

{% block author-notes-html %}
hi
{% endblock %}
