{% extends "solution.html" %}

{% block puzzle-author %}
자갈
{% endblock %}

{% block solution-body-md %}

<style>
    u {
        text-underline-offset: 4px; /* 원하는 간격으로 조절 (예: 3px) */
        /* 밑줄이 너무 얇다면 두께도 조절할 수 있습니다 */
        text-decoration-thickness: 0.5px;
    }
</style>

'회전' 퍼즐에는 다음과 같은 발상이 사용됩니다.  
어떤 문자는 **180도 회전**하여 거꾸로 봤을 때, 다른 문자로 보이기도 합니다.  

퍼즐의 글은 괄호 안에 있을 때마다 180도가 뒤집혀 있습니다.
밑줄을 그어서 뒤집어진 부분을 판단하면 다음과 같습니다.  

<span class="rotated-text">( <u>‘능력과 관련된 단어인 <span class="rotated-text">( <u>'<span class="rotated-text">( <u>시계의 <span class="rotated-text">( <u>IIX</u> )</span> 이전 숫자와 <span class="rotated-text">( <u>5</u> )</span>를 이어 붙인 영어</u> )</span> - <span class="rotated-text">( <span class="rotated-text">( <u>BL - h ÷ BEE + h ÷ OI</u> )</span> )</span>'의 한국어</u> )</span>'과 <br>'모음을 복제하여 <span class="rotated-text">( <u>읽으면 '<span class="rotated-text">( <u>9 ÷ 6 - 2 ÷ 5</u> )</span>' 과 비슷한 단위의 알파벳</u> )</span>을 한국어로 읽은 단어'을 <br>이어 붙인 단어</u> )</span></u>

괄호 안의 설명대로 따르기 위해선 괄호 안의 내용물을 뒤집어 올바른 상태로 만든 후 해석해야 합니다.  
예를 들어 IIX는 사용하지 않는 표기이므로, (IIX)를 뒤집어서 같은 모양의 XII로 생각합니다. 또 5는 영어로 이어붙일 수 없으므로, (5)를 뒤집어서 비슷한 모양의 S로 생각합니다.  
한 단계씩 괄호를 풀어 나가면 정답을 알 수 있습니다.  

| 부분      | 해석     | 결과 |
|-----------|----------|------|
| 시계의 <span class="rotated-text">( <u >IIX</u> )</span> 이전 숫자와 <span class="rotated-text">( <u>5</u> )</span>를 이어 붙인 영어 | 시계의 **XII** 이전 숫자와 **S**를 이어 붙인 영어 | XIS |
| <span class="rotated-text">( <u>BL - h ÷ BEE + h ÷ OI</u> )</span> | **10 ÷ 4 + 338 ÷ 4 - 78** |  9  |
| '<span class="rotated-text">( <u>XIS</u> )</span> - <span class="rotated-text">( <u>9</u> )</span>'의 한국어 |  '**SIX** - **6**'의 한국어  |  공  |
| 읽으면 '<span class="rotated-text">( <u>9 ÷ 6 - 2 ÷ 5</u> )</span>' 과 비슷한 단위의 알파벳 |  읽으면 '**5 ÷ 2 - 9 ÷ 6**' 과 비슷한 단위<br>= 영어로 하면 '**1**' 과 비슷한 단위의 알파벳  |   WON   |
| ‘능력과 관련된 단어인 <span class="rotated-text">( <u>공</u> )</span>'과 '모음을 복제하여 <br> <span class="rotated-text">( <u>WON</u> )</span>을 한국어로 읽은 단어'을 이어 붙인 단어  | '**운**'과 '**눔**'을 이어 붙인 단어 |  운눔  |

마지막의 '운눔'은 괄호 안에 들어가 있으므로, 이를 거꾸로 한 **목공**이 정답입니다.

{% endblock %}

{% block author-notes-html %}

초기 아이디어는 디지털 숫자 337을 단서로 영어 대문자 LEE를 구하는 아이디어였습니다. 하지만 숫자 및 영어만 있으면 아쉬우니 한글로 지시문을 달기로 하고, 한글에도 회전하여 말이 되는 곰국 <-> 논문 등의 조합을 활용하고 싶었습니다. 메타에도 어울리며 회전하여 뽑을 수 있으려면 긴 단어가 안되는 점이 조금 아쉽습니다.
<br><br>
사실 이 아이디어가 그림 없이 구현될거라고는 생각 못했습니다. 근데 html에 글자를 뒤집는 “rotated-text” class가 있더라고요! 덕분에 텍스트만으로도 아이디어를 구현할 수 있어서 텍스트 퍼즐헌트에 넣을 수 있었습니다.
<br>
휴, 다행이군요.
<br><br>
(추가) 퍼즐헌트 도중에 중대한 오류가 발견되어서 비상이 걸렸습니다. 죄송합니다. (작가의 말은 1월에 업데이트 될 수 있습니다.)

{% endblock %}
