{% extends "solution.html" %}

{% block puzzle-author %}
자갈
{% endblock %}

{% block solution-body-md %}

'삼체' 퍼즐에는 다음과 같은 발상이 사용됩니다.  
세 개의 단어가 항상 한 묶음으로 떠오르거나 사용되는 단어들이 있습니다.
(**세 쌍의 단어**)  

쉼표로 나열된 단어들을 살펴보면, 세 가지가 한 묶음이 될 수 있는 단어들을 볼 수 있습니다.
한 묶음을 제외한 모든 단어들이 3쌍 단어 중 하나에 속해있으므로, 이를 구분해 냅니다.
마지막 한 묶음은 **가나다, 순서, 정렬**로, 지시하는 것처럼 3쌍 단어들을 정렬합니다.
이때, 3쌍 단어 내에서도 가나다 순으로 정렬하고, 이후 3쌍 단어의 묶음끼리도 가나다 순으로 정렬합니다.

총 90개의 단어를 3쌍x30묶음으로 정렬하였다면, 이 다음은 30개의 숫자를 사용할 차례입니다.
숫자는 30개의 단어 묶음에 대응하며, 앞에서부터 **N번째 글자를 추출**하는 인덱싱 용도로 사용됩니다.

| #    | 첫 단어          | 둘째 단어           | 셋째 단어       | 인덱싱 | 추출 |
|-----:|------------------|--------------------|-----------------|:----:|----|
|    1 | 가나다           | 순서               | 정렬            |   0  |    |
|    2 | 가로             | 높이               | 세로            |   0  |    |
|    3 | 가위             | 바위               | 보              |   0  |    |
|    4 | 고구려           | 백제               | 신라            |   0  |    |
|    5 | 고려             | 서울               | 연세            |   0  |    |
|    6 | 과거             | **미**래               | 현재            |   3  | 미 |
|    7 | 군단의 심장      | 공허의 유산        | 자유의 날개     |   0  |    |
|    8 | 김밥             | 떡볶이             | 순**대**            |   7  | 대 |
|    9 | 노량             | 명량               | 한산            |   0  |    |
|   10 | 단백질           | 지방               | 탄수화물        |   0  |    |
|   11 | 대한             | 만**세**               | 민국            |   4  | 세 |
|   12 | 댓**글**             | 좋아요             | 팔로우          |   2  | 글 |
|   13 | 데드리프트       | 벤치프레스         | 스쿼트          |   0  |    |
|   14 | 데스 큐어        | 메이즈 러너        | 스코치 트라이얼 |   0  |    |
|   15 | 돌               | 바람               | 여**자**            |   5  | 자 |
|   16 | 딱총나무 지팡이  | 부활의 돌          | 투명 망토       |   0  |    |
|   17 | 린다지           | 비룡               | 유두래곤        |   0  |    |
|   18 | 마리아           | 사**만**다             | 조지나          |   5  | 만 |
|   19 | 버블             | 버터컵             | 블로섬          |   0  |    |
|   20 | 볼사리노         | 사카즈키            | 쿠잔           |   0  |    |
|   21 | 사랑             | 자유               | 평**화**            |   6  | 화 |
|   22 | 사법             | **입**법               | 행정            |   3  | 입 |
|   23 | 사인             | 코사인             | 탄젠트          |   0  |    |
|   24 | 악마의 상자      | 이상한 마을        | 최후의 **시**간여행 |  14  | 시 |
|   25 | 오               | 위                 | 촉              |   0  |    |
|   26 | 용기             | 지혜               | 힘              |   0  |    |
|   27 | 우애             | 자**유**               | 평등            |   4  | 유 |
|   28 | 유명한           | 유미란             | 코난            |   0  |    |
|   29 | 윤리학           | 인식론             | **형**이상학        |   7  | 형 |
|   30 | 캐비어           | 트러플             | 푸아그라        |   0  |    |

위에서부터 차례로 추출한 글자를 읽으면 **미대 세글자 만화 입시 유형**이라는 문구가 나옵니다.
이를 단서로 하여, 미대 입시에서 사용되는 입시 만화의 유형 중 세글자 단어를 찾으면 됩니다.
따라서 정답은 **칸만화**입니다.

{% endblock %}

{% block author-notes-html %}
hi
{% endblock %}
