{% extends "solution.html" %}

{% block puzzle-author %}
자갈
{% endblock %}

{% block solution-body-md %}

'삼체' 퍼즐에는 다음과 같은 발상이 사용됩니다.  
세 개의 단어가 항상 한 묶음으로 떠오르거나 사용되는 단어들이 있습니다.
(**세 쌍의 단어**)  

쉼표로 나열된 단어들을 살펴보면, 세 가지가 한 묶음이 될 수 있는 단어들을 볼 수 있습니다.
한 묶음을 제외한 모든 단어가 3쌍 단어 중 하나에 속해있으므로, 이를 구분해 냅니다.
마지막 한 묶음은 **가나다, 순서, 정렬**로, 지시하는 것처럼 3쌍 단어들을 정렬합니다.
이때, 3쌍 단어 내에서도 가나다순으로 정렬하고, 이후 3쌍 단어의 묶음끼리도 가나다순으로 정렬합니다.

총 72개의 단어를 3쌍x24묶음으로 정렬하였다면, 이다음은 24개의 숫자를 사용할 차례입니다.
숫자는 24개의 단어 묶음에 대응하며, 앞에서부터 **N번째 글자를 추출**하는 인덱싱 용도로 사용됩니다.

| #    | 첫 단어          | 둘째 단어           | 셋째 단어       | 인덱싱 | 추출 |
|-----:|------------------|--------------------|-----------------|:----:|----|
|    1 | 가나다           | 순서               | 정렬            |   0  |    |
|  2 | 가위             | 바위               | 보              |  0 |    |
|  3 | 고구려           | 백제               | 신라            |  0 |    |
|  4 | 과거             | **미**래               | 현재            |  3 | 미 |
|  5 | 김밥             | 떡볶이             | 순**대**            |  7 | 대 |
|  6 | 노량             | 명량               | 한산            |  0 |    |
|  7 | 단백질           | 지방               | 탄수화물        |  0 |    |
|  8 | 대한             | 만**세**               | 민국            |  4 | 세 |
|  9 | 댓**글**             | 좋아요             | 팔로우          |  2 | 글 |
| 10 | 데스 큐어        | 메이즈 러너        | 스코치 트라이얼 |  0 |    |
| 11 | 돌               | 바람               | 여**자**            |  5 | 자 |
| 12 | 딱총나무 지팡이  | 부활의 돌          | 투명 망토       |  0 |    |
| 13 | 린다지           | 비룡               | 유두래곤        |  0 |    |
| 14 | 마리아           | 사**만**다             | 조지나          |  5 | 만 |
| 15 | 버블             | 버터컵             | 블로섬          |  0 |    |
| 16 | 볼사리노(키자루) | 사카즈키(아카이누) | 쿠잔(아오키지)  |  0 |    |
| 17 | 사랑             | 자유               | 평**화**            |  6 | 화 |
| 18 | 사법             | **입**법               | 행정            |  3 | 입 |
| 19 | 악마의 상자      | 이상한 마을        | 최후의 **시**간여행 | 14 | 시 |
| 20 | 오               | 위                 | 촉              |  0 |    |
| 21 | 용기             | 지혜               | 힘              |  0 |    |
| 22 | 우애             | 자**유**               | 평등            |  4 | 유 |
| 23 | 윤리학           | 인식론             | **형**이상학        |  7 | 형 |
| 24 | 캐비어           | 트러플             | 푸아그라        |  0 |    |

위에서부터 차례로 추출한 글자를 읽으면 **미대 세글자 만화 입시 유형**이라는 문구가 나옵니다.
이를 단서로 하여, 미대 입시에서 사용되는 입시 만화의 유형 중 세글자 단어를 찾으면 됩니다.
따라서 정답은 **칸만화**입니다.

{% endblock %}

{% block author-notes-html %}

양치기 문제를 풀어내시느라 고생하셨습니다. 팀과 분업하면 빠르게 3쌍 단어를 찾아낼 수 있었을 거고, 각 쌍에서 정렬도 큰 부담없이 할 수 있었을 것 같습니다. 그럼에도 불구하고 너무 많다는 피드백이 있어서 30묶음에서 24묶음으로 20%를 제거했습니다.
<br>
가장 아쉬운 점은 마지막 단계인 인덱싱인데, 텍스트만 사용하여 이를 재밌게 전달할 방법은 도저히 떠오르지 않아 각오하고 넣은 부분입니다.
<br><br>
문제를 제작할 때에는 정답이 이미 정해져 있었는데, 너무 특수한 단어라 정답 추출용 문구에 유연성이 없었습니다. 그나마 한국어는 명사의 나열에서 어순이 조금 뒤틀려 있어도 해석이 가능하기 때문에, 가나다 순으로 정렬을 했을 때 문구 속 글자가 원하는 순서대로 나오도록 구성할 수 있었습니다.
<br>
이때 가장 힘들었던 글자가 “대”, “만”, “형” 같습니다. 이 글자가 들어가면서 3쌍으로 묶이는 단어들을 찾기란…
<br>
원래 생각했던 문구의 어순은 “미대 입시(에서) 만화 유형(인) 세글자 (단어)”였습니다.
<br><br>
문제에 나온 3쌍 외에도 48묶음을 더 찾아놓았습니다. <a href="#appendix">가장 아래의 '부록'</a>을 참고하세요. 해당 묶음이 어떤 카테고리인지 생각해보는 것도 재밌을 것 같습니다.

{% endblock %}

{% block appendix-title %}
부록
{% endblock %}

{% block appendix-md %}

|  # |             |                |                |  # |               |                 |                 |
|----|-------------|----------------|----------------|----|---------------|-----------------|-----------------|
|  1 | 가로        | 높이           | 세로           | 25 | 로고스        | 에토스          | 파토스          |
|  2 | 가속도      | 관성           | 작용 반작용    | 26 | 론            | 해리            | 헤르미온느      |
|  3 | 강호이      | 노랭이         | 진렬이         | 27 | 루미          | 미라            | 조이            |
|  4 | 거지        | 대문           | 도둑           | 28 | 리듬          | 선율            | 화성            |
|  5 | 고려        | 서울           | 연세           | 29 | 리사          | 매기            | 바트            |
|  6 | 고전        | 낭만           | 바로크         | 30 | 멤쵸          | 아리마 카나     | 호시노 루비     |
|  7 | 공군        | 육군           | 해군           | 31 | 면            | 선              | 점              |
|  8 | 공허의 유산 | 군단의 심장    | 자유의 날개    | 32 | 몽쉘          | 오예스          | 초코파이        |
|  9 | 관우        | 유비           | 장비           | 33 | 무형유산      | 문화유산        | 자연유산        |
| 10 | 구글        | 네이버         | 다음           | 34 | 민법          | 헌법            | 형법            |
| 11 | 구독        | 알림설정       | 좋아요         | 35 | 박지성        | 손흥민          | 차범근          |
| 12 | 국민        | 영토           | 주권           | 36 | 배경          | 사건            | 인물            |
| 13 | 국회        | 정부           | 법원           | 37 | 베니스        | 베를린          | 칸              |
| 14 | 김원훈      | 엄지윤         | 조진세         | 38 | 사람          | 땅              | 하늘            |
| 15 | 김종민      | 빽가           | 신지           | 39 | 사인          | 코사인          | 탄젠트          |
| 16 | 꼬부기      | 이상해씨       | 파이리         | 40 | 성무선악설    | 성선설          | 성악설          |
| 17 | 나이아가라  | 빅토리아       | 이과수         | 41 | 수산화 나트륨 | 암모니아        | 탄산수소 나트륨 |
| 18 | 나폴리      | 리우데자네이루 | 시드니         | 42 | 시간을 달려서 | 오늘부터 우리는 | 유리구슬        |
| 19 | 내일        | 오늘           | 어제           | 43 | 역            | 이              | 대우            |
| 20 | 눈          | 입             | 코             | 44 | 와일드 밸리   | 와일드윙        | 와일드 정글     |
| 21 | 닌텐도      | 엑스박스       | 플레이스테이션 | 45 | 유명한        | 유미란          | 코난            |
| 22 | 데드리프트  | 벤치프레스     | 스쿼트         | 46 | 자이로드롭    | 자이로스윙      | 자이로스핀      |
| 23 | 도겸        | 승관           | 호시           | 47 | 저항          | 전류            | 전압            |
| 24 | 동물        | 미인           | 아기           | 48 | 진동수        | 진폭            | 파형            |

{% endblock %}
