{% extends "solution.html" %}

{% block puzzle-author %}
자갈
{% endblock %}

{% block solution-body-md %}

'가치' 퍼즐에는 다음과 같은 발상이 사용됩니다.  
글자마다 기준에 따라 점수를 매겨서, **글자의 가치**를 숫자로 나타낼 수 있습니다.  
추가로 이때까지 풀어낸 퍼즐들의 발상을 조합하여 새로운 문제를 풀어냅니다.  

‘가치’ 퍼즐은 메타 문제는 아니므로, 이전 퍼즐들의 정답이 사용되지는 않습니다.  
하지만 이전 퍼즐들에서 사용된 **발상**이 엮여 있고, 퍼즐의 제목도 사용합니다.

| 퍼즐 제목 | 사용된 발상  |
|-----------|--------------|
| 회전      | 180도 회전   |
| 복제      | 글자의 중복  |
| 삼체      | 세 쌍의 단어 |
| 미로      | 크로스워드   |
| 숫자      | 애너그램     |
| 암호      | 기역1이24    |
| 장난      | 크립틱       |
| 달력      | 달력         |
| 초안      | 분류         |
| 가치      | 글자의 가치  |

## 1단계. 10개의 문제

10개의 작은 문제들을 풀어냅니다. 그 정답과 사용된 퍼즐, 그리고 해설을 확인해 보세요.
각 문제는 두 가지의 발상이 사용되며, 그중 하나는 다음 문제에도 사용됩니다. 이를 잘 활용하면 각 문제를 빠르게 접근하여 풀어낼 수 있습니다.


### 1.  
답: 지  
사용: 숫자+초안  
해설:  
초안의 방식으로 글을 이어 단서를 얻고, 나온 답을 숫자의 방식으로 풀어서 합치면 됩니다.  

| 모은 단서                                                          | 답   | 숫자 | 기역1이24 |
|--------------------------------------------------------------------|------|------|-----------|
| 망가진 물건을 수리하는 데에 쓰거나 무언가 제조하면 사용하는 도구들 | 공구 | 09   | ㅈ        |
| 사는 집을 다른 데로 바꾸거나 법인의 사무를 처리하는 사람들         | 이사 |   24 | ㅣ        |


### 2.  
답: 화폐  
사용: 초안+미로  
해설:  

<table class="crossword">
    <tbody>
        <tr>
            <td>무<span class="corner">1</span></td>
            <td>소</td>
            <td>외<span class="corner">2</span></td>
            <td class="blank"></td>
            <td>마<span class="corner">1</span></td>
            <td>노</td>
            <td>유<span class="corner">2</span></td>
        </tr>
        <tr>
            <td>영</td>
            <td class="accent">화</td>
            <td>관</td>
            <td class="blank"></td>
            <td>조</td>
            <td class="accent">폐</td>
            <td>기</td>
        </tr>
        <tr>
            <td>장<span class="corner">3</span></td>
            <td>기</td>
            <td>적</td>
            <td class="blank"></td>
            <td>단<span class="corner">3</span></td>
            <td>물</td>
            <td>질</td>
        </tr>
    </tbody>
</table>

가로  
1. 두려워할 만한 것이 없음 / 마노의 붉은 갈색 잿물  
3. 오랜 기간에 걸치는 것 / 당분이 많이 들어간 물질  
세로  
1. 긴급체포의 다른 말로 영장 없는 상태 / 말을 수호하기 위해 제사 지내던 단  
2. 겉으로 드러난. 또는 그런 것. / 유기 화합물. 또는 그런 성질.  


### 3.  

답: 장  
사용: 미로+장난  
해설:  

<table class="crossword">
    <tbody>
        <tr>
            <td>조<span class="corner">1</span></td>
            <td>화</td>
            <td>미<span class="corner">2</span></td>
        </tr>
        <tr>
            <td>직</td>
            <td class="accent">장</td>
            <td>인</td>
        </tr>
        <tr>
            <td>명<span class="corner">3</span></td>
            <td>품</td>
            <td>계</td>
        </tr>
    </tbody>
</table>

| 번호  |  정의                        | 말장난                      | 정답     |
|------|------------------------------|------------------------------|----------|
| 가로 1 |  잘 어울리는 아름다움      | 조수미 -[전날]-> 조화미         | 조화미     |
| 가로 3 |  비싼 걸 사려고 돈을 모으는 모임 | 한자로 (밝은)명 + (물건)품 + (세상)계            | 명품계 |
| 세로 1 |  로켓단 같은                  | 조명 + (곧을)직 -[사이]-> 조직명     | 조직명  |
| 세로 2 |  조심해야 할 수법          | 도->레-[그 다음]->미 + 인계(물려주다)        | 미인계   |

### 4.  
답: 찾기  
사용: 장난+가치  
해설:  
cryptic 단서로 해석하면 됩니다.  

| 정의                        | 말장난                                                              | 정답     |
|----------------------------|----------------------------------------------------------------------|----------|
| 인터넷에서 할 수 있는 행위   | 가치-[암호(애너그램)]-> **차기** + ‘안’의 가치를 3 낮추는 초성 **ㅈ, ㅊ, ㅋ, ㅌ** <br>-[안에 ~ 더하다]-> 찾기    | 찾기     |

'안'의 기본 점수(초성에 따라 변화하지 않는 점수)는 11점입니다.  
초성에 따른 추가적인 점수 변화를 표에 나타냈으니 참고하세요.  

| 특성      | 간 | 난 | 단 | 란 | 만 | 반 | 산 | 안 | 잔 | 찬 | 칸 | 탄 | 판 | 한 |
|-----------|----|----|----|----|----|----|----|----|----|----|----|----|----|----|
| 울림소리  |    |  2 |    |  2 |  2 |    |    |  2 |    |    |    |    |    |    |
| 빈공간    |    |    |    |    |  3 |  3 |    |  3 |    |    |    |    |  3 |  3 |
| 키보드    |  3 |  2 |  3 |  2 |  2 |  3 |  3 |  2 |  3 |  1 |  1 |  1 |  1 |  2 |
| 문장      |    |    |    |    |    |    |    |  6 |  7 |    |    |    |    |    |
| 중간점수  | 14 | 15 | 14 | 15 | 18 | 17 | 14 | 24 | 21 | 12 | 12 | 12 | 15 | 16 |
| 자릿수 합 |  5 |  6 |  5 |  6 |  9 |  8 |  5 |  **6** |  **3** |  **3** |  **3** |  **3** |  6 |  7 |


### 5.  
답: 목마  
사용: 가치+복제  
해설:  
복제의 방식으로 두 글자에 대한 범위를 좁힐 수 있고, 그중 가치를 계산하여 알맞은 글자를 찾습니다.  
각각 **몰, 막**에 대한 설명입니다. 이후 지시된 대로 종성을 바꿔 합치면 **목말**이 됩니다.  
목말의 맞춤법은 **목마**와 주로 혼동되므로 답이 됩니다.  


### 6.  
답: 관  
사용: 복제+달력  
해설:  
달력 속의 글자 중에서 설명하는 글자를 찾으면 됩니다.  
글자의 중복을 고려하면 **모+세, 방, 의, 일**을 찾을 수 있습니다.  
이 뒤에는 모두 **관**이 붙을 수 있으므로 답이 됩니다.  


### 7.  
답: 문제  
사용: 달력+암호  
해설:  
달력에서 각 날짜에 해당하는 글자는 **쟁, 세, 목, 누** 입니다.  
이를 애너그램으로 풀어내면 **오색 문제**로, 4색 정리보다는 쉬운 수학 문제입니다.  
여기서 색깔인 '오색'을 빼면 답인 **문제**가 나옵니다.  

### 8.  
답: 인간  
사용: 암호+삼체  
해설:  
삼체처럼 나열된 단어를 묶고 정리하되, 정리하는 규칙을 '완전 반대로' 하여 **가나다순의 역순**으로 정리합니다.  

| 첫 단어           | 둘째 단어           | 셋째 단어       | 인덱싱 | 추출 |
|-------------------|--------------------|---------------|:----:|----|
| 아기             | 미인                | 동물          |   4  |  인  |
| 된장             | 고추장              | 간장           |   6  |  간  |


### 9.  
답: 기  
사용: 삼체+회전  
해설:  
괄호 안의 회전된 내용을 삼체처럼 풀어냅니다.  

| 단어들                   | 영어로                 | 겹치는 글자 |
|-------------------------|-----------------------|-------------|
| 네지레<br>밀리오<br>타마키                 | NEJIRE<br>MIRIO<br>TAMAKI                 | I           |
| 레아 오르가나<br>루크 스카이워커<br>한 솔로 | LEIA ORGANA<br>LUKE SKYWALKER<br>HAN SOLO | A, L        |
| 리사<br>매기<br>바트                      | LISA<br>MAGGIE<br>BART                    | A           |

이후 지시대로 두 번 나온 알파벳인 'A'를 제거하고, ABC 순으로 나열하면 '**IL**'이 됩니다.  
괄호 안에 있으므로 풀어내면 정답인 **기**가 됩니다.  


### 10.  
답: 패드  
사용: 회전+숫자  
해설:  
괄호 안에 있는 내용들은 뒤집더라도 비슷한 모양으로 해석되지 않습니다.  
그래서 먼저 기역1이24를 통해 한글 자음(ㄱ, ㄴ, ㅁ)을 숫자로 바꿔야 합니다.  
EㄴEhㄴㅁㄱEㄱ -> E2Eh251E1  
이제 괄호 안에 넣어서 뒤집으면 다음과 같습니다.  
<span class="rotated-text">( E2Eh251E1 )</span> -> 131524323  
숫자를 한글로 해석하기 위해 다시 한번 더 기역1이24를 사용하면 됩니다.   
13 15 24 3 23 -> ㅍㅏㅣㄷㅡ -> **패드**  


## 2단계. 단어 찾기  

10개의 문제의 답은, 10개의 **퍼즐의 제목**과 연결 지을 수 있습니다.
퍼즐의 제목 이후에 중간 정답을 붙여서, 10가지 문제의 순서에 맞게 퍼즐의 제목들을 나열할 수 있습니다.  

| 대응하는 퍼즐 제목 | 중간 정답 |
|--------------------|-----------|
| 초안               | 지        |
| 암호               | 화폐      |
| 달력               | 장        |
| 미로               | 찾기      |
| 회전               | 목마      |
| 가치               | 관        |
| 삼체               | 문제      |
| 복제               | 인간      |
| 장난               | 기        |
| 숫자               | 패드      |


## 3단계. 글자의 가치  

문제마다 대응하는 퍼즐의 제목을 찾아낸 이후에는, 이번 퍼즐의 제목에 걸맞게 그 **가치**를 구해야 합니다.
**글자 점수 계산법**에 나온 글자의 특성마다 점수를 더해 최종 점수를 구해냅니다. <a href="#appendix">가장 아래의 표</a>를 참고하세요.   

## 4단계. 최종 정답  

퍼즐의 제목은 모두 두 글자였으므로, 각 단어의 가치는 두 자리 숫자가 됩니다.
또한 최댓값이 24이므로 **기역1이24**를 활용해 볼 수 있습니다. 한글로 변환하면 **테스트힙**이 나옵니다.  
이때까지의 모든 과정을 다음 표로 정리할 수 있습니다.

| #  |  발상 1 | 발상 2 | 중간 정답 | 대응하는 퍼즐 | 가치 | 기역1이24 |
|----|--------------|--------------|-----------|---------------|------|-----------|
|  1 | 기역1이24    | 분류         | 지        | 초안          |   12 | ㅌ        |
|  2 | 분류         | 크로스워드   | 화폐      | 암호          |   17 | ㅓ        |
|  3 | 크로스워드   | 크립틱       | 장        | 달력          |   24 | ㅣ        |
|  4 | 크립틱       | 글자의 가치  | 찾기      | 미로          | 07   | ㅅ        |
|  5 | 글자의 가치  | 글자의 중복  | 목마      | 회전          |   23 | ㅡ        |
|  6 | 글자의 중복  | 달력         | 관        | 가치          |   12 | ㅌ        |
|  7 | 달력         | 애너그램     | 문제      | 삼체          |   23 | ㅡ        |
|  8 | 애너그램     | 세 쌍의 단어 | 인간      | 복제          |   14 | ㅎ        |
|  9 | 세 쌍의 단어 | 180도 회전   | 기        | 장난          |   24 | ㅣ        |
| 10 | 180도 회전   | 기역1이24    | 패드      | 숫자          | 06   | ㅂ        |

마지막 문구인 1은 기역1이24로 변환하면 **ㄱ**이 됩니다. 이를 적절한 위치에 추가한다면 정답은 **텍스트 힙**이 됩니다.


{% endblock %}

{% block author-notes-html %}

텍스트 퍼즐헌트의 최종보스답게, 소문제 10개와 더불어서 거쳐야 할 단계가 3개는 더 있습니다.
<br>
2개의 메타 퍼즐로 답을 알차게 사용했으니, 2개의 메타의 메타 퍼즐을 마지막 문제로 만들까 고민했었습니다. 그러나 답으로 사용하기에는 개수도 적고 재치있게 활용하지 못할 것 같아 포기하고 다른 방법을 모색했습니다. 각 문제에서 답도 사용하고, 플레이버 텍스트도 사용했는데 남은게 뭘까… 역시 제목을 활용하는 수 밖에 없었습니다.
<br><br>
제목은 원래 이 퍼즐을 위해 2글자로 지은 것은 아닙니다. 그냥 퍼즐에 통일성을 주고 깔끔하게 마무리 지으려 2글자로 지었습니다. 맨 처음부터 복제, 삼체, 장난의 이름이 너무 사용하고 싶었던 것은 덤 입니다. 덕분에 메타 2개를 만든 후, 최종 퍼즐을 만들 때 사용할 소재가 생겼습니다.
<br><br>
가치를 계산하기 위한 방법은 이 문제에서 처음 제시할 계획이니, 글자마다 그 가치를 마음대로 조절할 수 있는 유연성이 있었습니다. 이걸 믿고 ‘<strong>가치</strong>’의 발상과 얼추 정해진 10가지의 제목을 토대로 문제를 만들었지만, 실상은 생각보다 어려웠습니다.
<br>
한 글자만 가지고서는 다른 글자와 구분될 특성이 생각보다 많지 않았고, 획순도 개인차가 있어 어려움이 있었습니다. 결과적으로는 키보드 규칙과, 달갑지는 않지만 문장에 등장했는지 판단하는 규칙까지 추가해야 했습니다. 어쨌든 제목에서 원하는 숫자를 가치로 계산할 수는 있어서 다행이라고 생각합니다.
<br><br>
위 시점에서 이미 최종 퍼즐에 대한 정답을 결정지어 두었습니다. ‘달력’ 메타 퍼즐을 만들 때, 텍스트만으로 이뤄진 퍼즐헌트 테마에 꼭 맞는 정답이라고 생각했던 단어였습니다. 물론 ‘달력’ 퍼즐에서 사용하지는 못했지만요.
<br>
그래서 최종 퍼즐에서 중간 정답들의 가치를 계산하고, 다시 ‘숫자’의 발상인 <strong>기역1이24</strong>를 사용하여 최종 정답을 얻는 구조를 생각했습니다. 물론 최종 정답이 11개의 숫자가 필요하여 마지막에 하나를 끼워넣긴 했지만요.
<br>
아무리 생각해도 테마에 맞는 정답이 더 좋을 것 같아 그대로 진행했습니다.
<br><br>
마지막으로 소문제에 대한 단락입니다. 맨 처음은 소문제에 사용된 두 가지의 발상을 토대로 이어맞춰서 순서를 유추하도록 만들 생각이였습니다. 하지만 이후 단계계들도 굉장히 많고 복잡하여, 그냥 순서대로 나열한 채 제공하기로 했습니다.
<br>
다만 소문제의 정답으로 이전 퍼즐들의 제목이 나와버리면, 한 문제만 풀어도 나머지 정답을 유추할 수 있었으므로 다른 중간 정답을 사용했습니다. 중간 정답이 한 글자 내지는 두 글자라서 소문제에 사용된 발상에 따라 쉬운 것도, 어려운 것도 있었습니다.
<br>
만드는 데에 가장 오래걸린 문제는 2번 소문제입니다. 특히 “폐”가 중간에 들어가는 세 글자 단어도 별로 없었고, 양 옆 글자를 다시 중간 글자로 하는 단어도 찾기 힘들었습니다. 결국 찾아내어 소문제가 없어지지는 않았네요. 이 외에도 7번과 9번 소문제가 만들기 힘들었던 것 같습니다.
<br>
사실 소문제를 푸는 것은, 결과적으로 퍼즐의 제목을 순서대로 나열하기 위함입니다. 그래서 눈치가 빠르다면... 1단계와 2단계를 건너뛰고 바로 제목의 가치들을 계산할 수도 있습니다. 그렇게 풀어내신 분이 계시다면, 축하드립니다!

{% endblock %}

{% block appendix-title %}
글자의 가치 계산 표
{% endblock %}

{% block appendix-html %}
<table class="calculation">
    <colgroup>
        <col>
        <col>
        <col class="thick-border-right">
        <col>
        <col class="thick-border-right">
        <col>
        <col class="thick-border-right">
        <col>
        <col class="thick-border-right">
        <col>
        <col class="thick-border-right">
        <col>
        <col class="thick-border-right">
        <col>
        <col class="thick-border-right">
        <col>
        <col class="thick-border-right">
        <col>
        <col class="thick-border-right">
        <col>
        <col class="thick-border-right">
        <col>
        <col class="thick-border-right">
    </colgroup>
    <thead>
        <tr>
            <th>분류</th>
            <th>특성</th>
            <th>점수</th>
            <th>초</th>
            <th>안</th>
            <th>암</th>
            <th>호</th>
            <th>달</th>
            <th>력</th>
            <th>미</th>
            <th>로</th>
            <th>회</th>
            <th>전</th>
            <th>가</th>
            <th>치</th>
            <th>삼</th>
            <th>체</th>
            <th>복</th>
            <th>제</th>
            <th>장</th>
            <th>난</th>
            <th>숫</th>
            <th>자</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="4">글자</td>
            <td>종성 유무</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td>1</td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td>1</td>
            <td></td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td></td>
        </tr>
        <tr>
            <td>울림소리</td>
            <td>2</td>
            <td></td>
            <td>2</td>
            <td>2</td>
            <td></td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td>2</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>직교점</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td></td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td></td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>빈공간</td>
            <td>3</td>
            <td></td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td>1</td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="section-start">
            <td rowspan="4">키보드</td>
            <td>아랫줄</td>
            <td>1</td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
        </tr>
        <tr>
            <td>가운뎃줄</td>
            <td>2</td>
            <td>1</td>
            <td>3</td>
            <td>3</td>
            <td>2</td>
            <td>2</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>3</td>
            <td>2</td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td></td>
            <td>1</td>
            <td></td>
            <td>2</td>
            <td>3</td>
            <td></td>
            <td>1</td>
        </tr>
        <tr>
            <td>윗줄</td>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td>1</td>
            <td></td>
            <td>1</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>1</td>
            <td></td>
            <td>2</td>
            <td>1</td>
        </tr>
        <tr>
            <td>shift</td>
            <td>0</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="section-start">
            <td rowspan="3">문장</td>
            <td>6점</td>
            <td>6</td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>7점</td>
            <td>7</td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>8점</td>
            <td>8</td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="section-start">
            <td colspan="3"><strong>중간점수</strong></td>
            <td><strong>4</strong></td>
            <td><strong>20</strong></td>
            <td><strong>28</strong></td>
            <td><strong>16</strong></td>
            <td><strong>14</strong></td>
            <td><strong>22</strong></td>
            <td><strong>9</strong></td>
            <td><strong>7</strong></td>
            <td><strong>17</strong></td>
            <td><strong>21</strong></td>
            <td><strong>13</strong></td>
            <td><strong>11</strong></td>
            <td><strong>17</strong></td>
            <td><strong>12</strong></td>
            <td><strong>16</strong></td>
            <td><strong>13</strong></td>
            <td><strong>17</strong></td>
            <td><strong>22</strong></td>
            <td><strong>12</strong></td>
            <td><strong>6</strong></td>
        </tr>
        <tr class="section-start">
            <td rowspan="2">계산</td>
            <td colspan="2">자릿수 합</td>
            <td>4</td>
            <td>2</td>
            <td>1</td>
            <td>7</td>
            <td>5</td>
            <td>4</td>
            <td>9</td>
            <td>7</td>
            <td>8</td>
            <td>3</td>
            <td>4</td>
            <td>2</td>
            <td>8</td>
            <td>3</td>
            <td>7</td>
            <td>4</td>
            <td>8</td>
            <td>4</td>
            <td>3</td>
            <td>6</td>
        </tr>
        <tr>
            <td colspan="2">mod 3</td>
            <td>1</td>
            <td></td>
            <td>1</td>
            <td></td>
            <td>2</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>2</td>
            <td></td>
            <td>1</td>
            <td></td>
            <td>2</td>
            <td></td>
            <td>1</td>
            <td></td>
            <td>2</td>
            <td></td>
            <td>0</td>
            <td></td>
        </tr>
        <tr class="section-start">
            <td colspan="3"><strong>최종점수</strong></td>
            <td><strong>1</strong></td>
            <td><strong>2</strong></td>
            <td><strong>1</strong></td>
            <td><strong>7</strong></td>
            <td><strong>2</strong></td>
            <td><strong>4</strong></td>
            <td><strong>0</strong></td>
            <td><strong>7</strong></td>
            <td><strong>2</strong></td>
            <td><strong>3</strong></td>
            <td><strong>1</strong></td>
            <td><strong>2</strong></td>
            <td><strong>2</strong></td>
            <td><strong>3</strong></td>
            <td><strong>1</strong></td>
            <td><strong>4</strong></td>
            <td><strong>2</strong></td>
            <td><strong>4</strong></td>
            <td><strong>0</strong></td>
            <td><strong>6</strong></td>
        </tr>
    </tbody>
</table>


{% endblock %}
