{% extends "solution.html" %}

{% block puzzle-author %}
자갈
{% endblock %}

{% block solution-body-md %}

cryptic crossword를 하면 된다.
각 정답의 표는 다음과 같다.
ㅁㄴㅇㄹ


{% endblock %}

{% block author-notes-html %}
hi 작가 노트
{% endblock %}

{% block appendix-title %}
Fancy Title 어펜딕스 타이틀?
{% endblock %}

{% block appendix-md %}
Length | Answer        | Double Letter
------ | ------------- | -------------
4      | BA**SS**      | S
5      | IS**AA**C     | A
6      | HA**M*ER    | M
7      | SCRI**PP**S   | P
8      | PARA**LL*M**EL  | L
9      | ENGIN**EE**RS | E
{% endblock %}
