{% extends "solution.html" %}

{% block puzzle-author %}
자갈
{% endblock %}

{% block solution-body-md %}

표 삽입 예정

3개씩 묶은 후
가나다 순서로 가로, 세로 모두 정렬한다
이후 인덱싱 된 숫자대로 답을 뽑으면 된다.

0	가나다	순서	정렬	
0	가로	높이	세로	
0	가위	바위	보	
0	고구려	백제	신라	
0	고려	서울	연세	
3	과거	미래	현재	미
0	군단의 심장	공허의 유산	자유의 날개	
7	김밥	떡볶이	순대	대
0	노량	명량	한산	
0	단백질	지방	탄수화물	
3	대한	만세	민국	세
2	댓글	좋아요	팔로우	글
0	데드리프트	벤치프레스	스쿼트	
0	데스 큐어	메이즈 러너	스코치 트라이얼	
5	돌	바람	여자	자
0	딱총나무 지팡이	부활의 돌	투명 망토	
0	린다지	비룡	유두래곤	
5	마리아	사만다	조지나	만
0	버블	버터컵	블로섬	
0	볼사리노(키자루)	사카즈키(아카이누)	쿠잔(아오키지)	
6	사랑	자유	평화	화
3	사법	입법	행정	입
0	사인	코사인	탄젠트	
14	악마의 상자	이상한 마을	최후의 시간여행	시
0	오	위	촉	
0	용기	지혜	힘	
0	우애	자유	평등	
4	유명한	유미란	코난	유
7	윤리학	인식론	형이상학	형
0	캐비어	트러플	푸아그라	

{% endblock %}



